@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for charts and calendar */
:root {
  --stone-900: #049151;
  --stone-800: #04a05a;
  --stone-700: #04bc6c;
  --stone-600: #04c464;
  --fc-button-bg-color: #09090b;
  --fc-button-border-color: #09090b;
  --fc-button-hover-bg-color: #27272a;
  --fc-button-hover-border-color: #27272a;
  --fc-button-active-bg-color: #27272a;
  --fc-button-active-border-color: #27272a;
}

/* Scrollbar styles empre galing google yan hhaha*/
* {
  scrollbar-width: thin;
  scrollbar-color: #fafafa #e4e4e7;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #e4e4e7;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 100%;
  border: 1px solid #e4e4e7;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* 404 Section */
.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
