/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stone-900: #1c1917;
  --stone-800: #44403c;
  --stone-700: #78716c;
  --stone-600: #d6d3d1;
  --fc-button-bg-color: #09090b;
  --fc-button-border-color: #e4e4e7;
  --fc-button-hover-bg-color: #27272a;
  --fc-button-hover-border-color: #e4e4e7;
  --fc-button-active-bg-color: #27272a;
  --fc-button-active-border-color: #e4e4e7;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter;
}
