.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.personal {
  text-indent: 50px;
  padding-left: 25px;
  font-size: 20px;
}

table {
  width: 100%;
}

.avatar-container {
  position: relative;
  width: fit-content;
}

.image-container {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.avatar-placeholder {
  background-image: url("../../../../../assets/images/placeholder.png");
}

.icon-wrapper {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 0.35rem;
  background-color: #01CDA9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="file"] {
    display: none;
  }
}
