<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        Student Profile
      </p>
      <hr class="h-px mb-6 bg-gray-200 border-0 dark:bg-gray-700" />
    </div>
    <div
      class="w-full mx-auto max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex flex-col items-center py-10 px-4">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="/docs/images/people/profile-picture-3.jpg"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Student Name Here
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400"
          >StudentID Here</span
        >

        <hr class="h-px w-[80%] my-4 bg-slate-300 border-0" />

        <div class="w-full max-w-md bg-white">
          <div class="flow-root">
            <ul role="list">
              <li class="mb-1">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Name:
                    </p>
                    <span
                      class="text-sm font-normal font-secondary text-gray-900"
                      >Student Nmae here</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-1">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Email:
                    </p>
                    <span
                      class="text-sm font-normal font-secondary text-gray-900"
                      >Student email here</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-1">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Program:
                    </p>
                    <span
                      class="text-sm font-normal font-secondary text-gray-900"
                      >Student program here</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-1">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Block:
                    </p>
                    <span
                      class="text-sm font-normal font-secondary text-gray-900"
                      >Student block here</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-1">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Year:
                    </p>
                    <span
                      class="text-sm font-normal font-secondary text-gray-900"
                      >Student year here</span
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex mt-4 md:mt-6">
          <a
            href="#"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Add friend</a
          >
          <a
            href="#"
            class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Message</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
