<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        Student Profile
      </p>
      <hr class="h-px mb-6 bg-gray-200 border-0 dark:bg-gray-700" />
    </div>
    <div
      class="w-full mx-auto max-w-lg bg-gray-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex flex-col items-center py-10 px-4">
        <div class="flex justify-center mt-10 mb-10">
          <div class="avatar-container">
            <img
              *ngIf="avatarUrl; else placeholder"
              [src]="avatarUrl"
              class="image-container"
              alt="Avatar"
            />
            <ng-template #placeholder>
              <div class="image-container avatar-placeholder">
                <!-- Placeholder content -->
              </div>
            </ng-template>

            <label for="avatar-input-file">
              <div class="icon-wrapper">
                <input type="file" id="avatar-input-file" accept="image/*" />
              </div>
            </label>
          </div>
        </div>
        <h5
          class="mb-1 text-2xl lg:text-2xl font-medium text-gray-900 font-secondary"
        >
          {{ studentProfile[0]?.first_name | uppercase }}
          {{ studentProfile[0]?.last_name | uppercase }}
        </h5>
        <span class="text-xs text-custom_black lg:text-xl dark:text-gray-400">{{
          extractStudentId(studentProfile[0]?.email)
        }}</span>

        <hr class="h-px w-[80%] my-4 bg-slate-300 border-0" />

        <div
          *ngIf="studentProfile && studentProfile.length > 0"
          class="w-full max-w-md bg-gray-50"
        >
          <div class="flow-root">
            <ul role="list">
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Full Name:
                    </p>
                    <span
                      class="text-sm font-normal lg:text-base font-secondary text-gray-900"
                      >{{ studentProfile[0]?.first_name | titlecase }}
                      {{ studentProfile[0]?.last_name | titlecase }}</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Email:
                    </p>
                    <span
                      class="text-sm font-normal lg:text-base font-secondary text-gray-900"
                      >{{ studentProfile[0]?.email }}</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Program:
                    </p>
                    <span
                      class="text-sm font-normal lg:text-base font-secondary text-gray-900"
                      >{{ studentProfile[0]?.course | uppercase }}</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Block:
                    </p>
                    <span
                      class="text-sm font-normal lg:text-base font-secondary text-gray-900"
                      >{{ studentProfile[0]?.block | uppercase }}</span
                    >
                  </div>
                </div>
              </li>
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white"
                    >
                      Year:
                    </p>
                    <span
                      class="text-sm font-normal lg:text-base font-secondary text-gray-900"
                      >{{ studentProfile[0]?.year_level }}</span
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex justify-start mt-4 md:mt-6">
          <button
            (click)="openEditInfo()"
            class="inline-flex items-center px-4 py-2 text-sm font-bold font-secondary text-center text-white bg-carribean_green-mint rounded-lg hover:bg-carribean_green-minted focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="flex-shrink-0 me-1 self-center w-6 h-6 transition duration-75 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              />
            </svg>
            Edit Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
