<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        Dashboard
      </p>
      <hr class="h-px mb-6 bg-serpentine border-0 dark:bg-gray-700" />
    </div>
    <div class="grid grid-cols-2 gap-5">
      <div class="lg:w-full col-span-2 shadow-lg rounded-md p-10 bg-gray-50">
        <!-- calendar here -->
        <app-calendar></app-calendar>
      </div>
    </div>
  </div>
</main>
