<div class="border max-w-md border-dark-border shadow-md p-5 rounded-md">
  <header class="font-bold text-lg mb-1.5 tracking-wide">Activity Logs</header>
  <ol class="relative w-full h-[400px] overflow-y-scroll divide-y">
    <li class="mb-3.5 w-full" *ngFor="let log of logs">
      <time
        class="mb-1 text-xs font-medium leading-none text-orange-500 dark:text-gray-500"
        >{{ log.created_at | date : "MMM dd, yyyy: hh:mm a" }}
      </time>
      <h3
        class="text-base capitalize font-medium text-gray-900 dark:text-white"
      >
        {{ log.student_name }}
      </h3>
      <p class="mb-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ replaceEventName(log.details, log.event_name) }}
      </p>
    </li>
  </ol>
</div>
