<div class="bg-white max-h-[80vh] pb-5">
  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Add event
    </h3>
    <button
      (click)="closeDialog()"
      type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-md text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
      data-modal-toggle="crud-modal"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <section class="bg-white dark:bg-gray-900 w-full p-5">
    <div class="px-4 mx-auto max-w-full">
      <form (ngSubmit)="addEvent()" [formGroup]="eventForm" class="w-full">
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="sm:col-span-2">
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Event Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              formControlName="event_name"
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
              placeholder="Event name"
              required=""
            />
          </div>

          <div class="w-full">
            <label
              for="event_location"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Location</label
            >
            <input
              type="text"
              name="event_location"
              id="event_location"
              formControlName="event_location"
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
              placeholder="Event location"
            />
          </div>

          <div class="w-full">
            <label
              for="category"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Session</label
            >
            <select
              id="category"
              formControlName="session"
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            >
              <option value="" disabled selected>Select Event Mode</option>
              <option>Physical</option>
              <option>Online</option>
              <option>Hybrid(Physical or Online)</option>
            </select>
          </div>

          <div class="w-full">
            <label
              for="organizer_name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Organizer Name</label
            >
            <input
              type="text"
              name="organizer_name"
              id="organizer_name"
              formControlName="organizer_name"
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
              placeholder="Organizer Name"
            />
          </div>

          <div class="w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >No. Participants</label
            >
            <input
              type="number"
              placeholder="1"
              formControlName="max_attendees"
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_start_date">Event Start Date</label>
            <input
              type="datetime-local"
              id="event_start_date"
              formControlName="event_start_date"
              required
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_end_date">Event End Date</label>
            <input
              type="datetime-local"
              id="event_end_date"
              formControlName="event_end_date"
              required
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_registration_start"
              >Event Registration Start Date</label
            >
            <input
              type="datetime-local"
              id="event_registration_start"
              formControlName="event_registration_start"
              required
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_registration_end"
              >Event Registration End Date</label
            >
            <input
              type="datetime-local"
              id="event_registration_end"
              formControlName="event_registration_end"
              required
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            />
          </div>

          <div class="sm:col-span-2">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="event_description"
              rows="8"
              class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
              placeholder="Your description here"
            ></textarea>
          </div>

          <div class="col-span-2">
            <legend>Related Topics</legend>
            <div formArrayName="categories">
              <label
                *ngFor="let category of visibleCategories; let i = index"
                class="ms-2 text-sm font-medium text-text text-center"
              >
                <input
                  type="checkbox"
                  [formControlName]="i"
                  class="w-4 h-4 text-light-text bg-white border-light-border rounded focus:ring-1 focus:ring-light-border"
                />
                {{ category }}
              </label>
            </div>
            <div class="inline-flex items-center justify-center w-full mt-2">
              <hr class="w-full h-1 my-8 bg-light-border border rounded" />
              <div
                class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900"
              >
                <button
                  type="button"
                  class="text-white bg-light-background hover:bg-light-foregroud focus:outline-none focus:ring-0 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
                  (click)="toggleShowAllCategories()"
                >
                  {{ showAllCategories ? "Less" : "More" }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="grid min-h-[140px] w-full my-5 bg-dark-primary border border-dark-background place-items-center rounded-md"
        >
          <span *ngIf="!imagePreview" class="text-dark-text">Preview Here</span>
          <img
            *ngIf="imagePreview"
            [src]="imagePreview"
            alt=""
            class="object-cover object-center w-full h-96 rounded-md"
          />
        </div>

        <label for="avatar-input-file">
          <div class="icon-wrapper">
            <input
              type="file"
              id="avatar-input-file"
              accept="image/*"
              class="block w-full text-sm text-gray-900 border border-dark-border rounded-md cursor-pointer bg-gray-50 focus:outline-none"
              (change)="onFileChange($event)"
            />
          </div>
        </label>

        <div class="flex w-full justify-center py-7">
          <button
            type="submit"
            class="text-light-text border border-light-background mx-auto block md:w-[25%] bg-white hover:text-white hover:bg-light-background focus:outline-none font-bold rounded-md text-sm sm:w-auto px-5 py-2.5 text-center"
          >
            Add Event
          </button>
        </div>
      </form>
    </div>
  </section>
</div>
