<main class="w-full">
  <div class="p-4 mt-16 sm:ml-64">
    <section class="bg-white dark:bg-gray-900 w-full">
      <div class="diaglog-container max-w-full bg-white">
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Feedback Questions
          </h3>
          <button
            (click)="closePage()"
            type="button"
            class="mt-1.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-1.5 inline-flex justify-center items-center"
            data-modal-hide="default-modal"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-move-left"
            >
              <path d="M6 8L2 12L6 16" />
              <path d="M2 12H22" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <form
          class="max-w-full mx-auto px-10 py-5"
          (ngSubmit)="postFeedback()"
          [formGroup]="feedbackForm"
        >
          <div class="relative z-0 w-full mb-5 group">
            <label
              >1. How would you rate your overall satisfaction with the
              event?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-border sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="overall_satisfaction"
                    value="5"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="overall_satisfaction"
                    value="4"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="overall_satisfaction"
                    value="3"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="overall_satisfaction"
                    value="2"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Dissatisfied
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="overall_satisfaction"
                    value="1"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Dissatisfied
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div class="relative z-0 w-full mb-5 group">
            <label
              >2. How would you rate the quality and relevance of the content
              presented?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="content_quality"
                    value="5"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="content_quality"
                    value="4"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="content_quality"
                    value="3"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="content_quality"
                    value="2"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Dissatisfied
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="content_quality"
                    value="1"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Dissatisfied
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div class="relative z-0 w-full mb-5 group">
            <label
              >3. How would you rate the effectiveness of the
              speakers/presenters?</label
            >
            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="speaker_effectiveness"
                    value="5"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="speaker_effectiveness"
                    value="4"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="speaker_effectiveness"
                    value="3"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="speaker_effectiveness"
                    value="2"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Dissatisfied
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="speaker_effectiveness"
                    value="1"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Dissatisfied
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div class="relative z-0 w-full mb-5 group">
            <label
              >4. How would you rate the venue in terms of accessibility and
              suitability for the event?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="venue_rating"
                    value="5"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="venue_rating"
                    value="4"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="venue_rating"
                    value="3"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="venue_rating"
                    value="2"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Dissatisfied
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="venue_rating"
                    value="1"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Dissatisfied
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div class="relative z-0 w-full mb-5 group">
            <label
              >5. How would you rate the organization and logistics of the
              event?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="logistics_rating"
                    value="5"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="logistics_rating"
                    value="4"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="logistics_rating"
                    value="3"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="logistics_rating"
                    value="2"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Dissatisfied
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    formControlName="logistics_rating"
                    value="1"
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Dissatisfied
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div class="relative z-0 w-full mb-5 group">
            <label for="improvement_suggestions"
              >Suggestions for Improvement:</label
            >
            <textarea
              id="improvement_suggestions"
              formControlName="improvement_suggestions"
              name="improvement_suggestions"
              rows="4"
              class="block p-2.5 w-full h-48 max-h-64 text-sm text-gray-900 bg-gray-50 rounded-md border border-light-background focus:border-light-border focus:ring-0"
              placeholder="Write your suggestions here..."
            ></textarea>
          </div>

          <div class="relative z-0 w-full mb-5 group">
            <label for="additional_comments">Additional Comments:</label>
            <textarea
              id="additional_comments"
              formControlName="additional_comments"
              name="additional_comments"
              rows="4"
              class="block p-2.5 w-full h-48 max-h-64 text-sm text-gray-900 bg-gray-50 rounded-md border border-light-background focus:border-light-border focus:ring-0"
              placeholder="Write your comments here..."
            ></textarea>
          </div>

          <button
            type="submit"
            class="block mx-auto px-4 py-2 text-sm text-light-text font-semibold bg-white hover:bg-light-background hover:text-white border border-light-border rounded-md focus:outline-none"
          >
            Submit Feedback
          </button>
        </form>
      </div>
    </section>
  </div>
</main>
