<div class="grid md:grid-cols-3 gap-3">
  <div
    class="shadow-md rounded-md w-full h-44 border border-dark-border bg-white flex justify-center items-center p-4"
  >
    <div class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white w-full">
      <div class="p-2 flex items-center">
        <div
          class="p-1 rounded-full bg-white border border-light-border text-dark-background mr-4"
        >
          <svg fill="#db7c24" viewBox="0 0 20 20" class="w-5 h-5">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
            ></path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Approved Events
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            {{ data?.approved_events }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="shadow-md border border-dark-border rounded-md w-full h-44 bg-white flex justify-center items-center p-4"
  >
    <div
      class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800 w-full"
    >
      <div class="p-2 flex items-center">
        <div
          class="p-1 rounded-full bg-white border border-light-border text-dark-background mr-4"
        >
          <svg fill="#db7c24" viewBox="0 0 20 20" class="w-5 h-5">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
            ></path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Waiting for approval
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            {{ data?.pending_events }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="shadow-md border border-dark-border rounded-md w-full h-44 bg-white flex justify-center items-center p-4"
  >
    <div
      class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800 w-full"
    >
      <div class="p-2 flex items-center">
        <div
          class="p-1 rounded-full bg-white border border-light-border text-dark-background mr-4"
        >
          <svg fill="#db7c24" viewBox="0 0 20 20" class="w-5 h-5">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
            ></path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Total Registered Students
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            {{ data?.total_registered_students }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
