.personal {
  text-indent: 50px;
  padding-left: 25px;
  font-size: 20px;
}

table {
  width: 100%;
}

.avatar-container {
  position: relative;
  width: fit-content;
}

.image-container {
  z-index: 0;
  background-color: #cdcdcd;
  background-position: center;
  background-size: cover;
}

.event-placeholder {
  background-image: url("../../../../../assets/images/event_placeholder.png");
}

.pagination ::ng-deep .ngx-pagination .current {
  background-color: #09090b;
  border-radius: 100%;
  padding: 2.5px 10px;
  display: inline-flex;
  justify-self: center;
  color: #fff;
}

.pagination ::ng-deep .ngx-pagination li {
  border-radius: 25px;
  margin: 0 2px;
}

.pagination ::ng-deep .ngx-pagination li :hover {
  border-radius: 25px;
}
