.personal {
  text-indent: 50px;
  padding-left: 25px;
  font-size: 20px;
}

table {
  width: 100%;
}

.avatar-container {
  position: relative;
  width: fit-content;
}

.image-container {
  z-index: 0;
  background-color: #cdcdcd;
  background-position: center;
  background-size: cover;
}

.event-placeholder {
  background-image: url("../../../../../assets/images/event_placeholder.png");
}

.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

.pagination ::ng-deep .ngx-pagination .current {
  background-color: #09090b;
  border-radius: 100%;
  padding: 2.5px 10px;
  display: inline-flex;
  justify-self: center;
  color: #fff;
}

.pagination ::ng-deep .ngx-pagination li :hover {
  background-color: #27272a;
  border-radius: 100%;
  color: #fff;
}
  