<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div class="fixed top-18 end-6 group">
      <button
        (click)="openDialog()"
        type="button"
        aria-expanded="false"
        class="flex items-center justify-center text-white bg-green-500 rounded-full w-14 h-14 hover:bg-green-700 focus:outline-none"
      >
        <svg
          class="w-5 h-5 transition-transform group-hover:rotate-45"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 18 18"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 1v16M1 9h16"
          />
        </svg>
      </button>
    </div>
    <div class="container"></div>
  </div>
</main>
