<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div class="w-full flex justify-between items-center">
      <div>
        <p class="mt-5 mb-2 text-text text-2xl tracking-wide font-semibold">
          Events
        </p>
      </div>
      <button
        (click)="openDialog()"
        type="button"
        aria-expanded="false"
        class="text-white bg-light-background hover:bg-light-foregroud focus:outline-none focus:ring-0 font-medium rounded-md text-sm px-5 py-2.5 me-2 mt-5 mb-2"
      >
        Add Event
      </button>
    </div>
    <hr class="h-px mb-6 bg-dark-border border-0" />

    @if(eventList && eventList.length ){
    <div>
      <div>card</div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 h-full">
      <div class="w-full col-span-2">
        <mat-tab-group>
          <mat-tab label="Approved">
            <div class="rounded-md border border-dark-border col-span-2">
              <table
                class="overflow-x-auto shadow-md bg-white rounded-md relative z-0"
              >
                <thead
                  class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground"
                >
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Event Name
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Start Date
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Status
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Event Type
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let event of filteredEventList['Approved']
                      | paginate
                        : { itemsPerPage: itemsPerPage, currentPage: p }
                  "
                >
                  <tr>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      {{ event.event_name }}
                    </td>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      {{ event.event_start_date | date }}
                    </td>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      {{ getEventState(event) }}
                      <div class="flex items-center justify-center">
                        <div
                          class="text-sm font-medium bg-green-100 inline-flex items-center text-green-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'done'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-light-foregroud rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Done
                        </div>
                        <div
                          class="text-sm font-medium bg-blue-100 inline-flex items-center text-blue-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'ongoing'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-blue-500 rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Ongoing
                        </div>
                        <div
                          class="text-sm font-medium bg-yellow-100 inline-flex items-center text-yellow-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'upcoming'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-yellow-500 rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Upcoming
                        </div>
                      </div>
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-primary text-center capitalize"
                    >
                      {{ event.event_type }}
                    </td>
                    <td
                      class="px-6 py-4 flex items-center gap-2 justify-center"
                    >
                      <button
                        (click)="openFile(event.event_id)"
                        class="flex items-center justify-center text-light-text bg-white border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md hover:text-white"
                      >
                        <svg
                          class="w-6 h-6 text-light-text hover:text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1"
                            d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                          />
                        </svg>
                      </button>
                      <button
                        (click)="editEvent(event.event_id)"
                        type="button"
                        aria-expanded="false"
                        class="flex items-center justify-center text-white bg-light-background border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-pencil"
                        >
                          <path
                            d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"
                          />
                          <path d="m15 5 4 4" />
                        </svg>
                      </button>
                      <app-delete-event
                        [event_id]="event.event_id"
                        (eventDeleted)="loadEvent()"
                      ></app-delete-event>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex justify-center items-center mt-2.5 p-5">
              <mat-paginator
                [length]="filteredEventList['Approved'].length"
                [pageSize]="itemsPerPage"
                (page)="p = $event.pageIndex + 1"
              ></mat-paginator>
            </div>
          </mat-tab>
          <mat-tab label="Rejected">
            <div class="rounded-md border border-dark-border col-span-2">
              <table
                class="overflow-x-auto shadow-md bg-white rounded-md relative z-0"
              >
                <thead
                  class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground"
                >
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Event Name
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Start Date
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Status
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Event Type
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let event of filteredEventList['Rejected']
                      | paginate
                        : { itemsPerPage: itemsPerPage, currentPage: p };
                    let i = index
                  "
                >
                  <tr>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      {{ event.event_name }}
                    </td>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      {{ event.event_start_date | date }}
                    </td>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      <div class="flex items-center justify-center">
                        {{ getEventState(event) }}
                        <!-- <div
                          class="text-sm font-medium bg-green-100 inline-flex items-center text-green-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'done'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-light-foregroud rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Done
                        </div>
                        <div
                          class="text-sm font-medium bg-blue-100 inline-flex items-center text-blue-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'ongoing'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-blue-500 rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Ongoing
                        </div>
                        <div
                          class="text-sm font-medium bg-yellow-100 inline-flex items-center text-yellow-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'upcoming'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-yellow-500 rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Upcoming
                        </div> -->
                      </div>
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-primary text-center capitalize"
                    >
                      {{ event.event_type }}
                    </td>
                    <td
                      class="px-6 py-4 flex items-center gap-2 justify-center"
                    >
                      <button
                        matTooltip="Update event image"
                        matTooltipPosition="above"
                        (click)="openFile(event.event_id)"
                        class="flex items-center justify-center text-light-text bg-white border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md hover:text-white"
                      >
                        <svg
                          class="w-6 h-6 text-light-text hover:text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1"
                            d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                          />
                        </svg>
                      </button>
                      <button
                        (click)="editEvent(event.event_id)"
                        matTooltip="Event is either done or ongoing."
                        matTooltipPosition="above"
                        matTooltipClass="custom"
                        [disabled]="event.status !== 'upcoming'"
                        [ngClass]="{
                          'opacity-50 cursor-not-allowed':
                            event.status !== 'upcoming'
                        }"
                        type="button"
                        aria-expanded="false"
                        class="flex items-center justify-center text-white bg-light-background border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-pencil"
                        >
                          <path
                            d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"
                          />
                          <path d="m15 5 4 4" />
                        </svg>
                      </button>
                      <app-delete-event
                        matTooltip="Delete Event"
                        matTooltipPosition="above"
                        [event_id]="event.event_id"
                        (eventDeleted)="loadEvent()"
                      ></app-delete-event>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex justify-center items-center mt-2.5 p-5">
              <mat-paginator
                [length]="filteredEventList['Rejected'].length"
                [pageSize]="itemsPerPage"
                (page)="p = $event.pageIndex + 1"
              ></mat-paginator>
            </div>
          </mat-tab>
          <mat-tab label="Pending">
            <div class="rounded-md border border-dark-border col-span-2">
              <table
                class="overflow-x-auto shadow-md bg-white rounded-md relative z-0"
              >
                <thead
                  class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground"
                >
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Event Name
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Start Date
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Status
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Event Type
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-center tracking-widest font-medium"
                    >
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let event of filteredEventList['Pending']
                      | paginate
                        : { itemsPerPage: itemsPerPage, currentPage: p };
                    let i = index
                  "
                >
                  <tr>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      {{ event.event_name }}
                    </td>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      {{ event.event_start_date | date }}
                    </td>
                    <td class="px-6 py-4 text-sm font-primary text-center">
                      <div class="flex items-center justify-center">
                        <div
                          class="text-sm font-medium bg-green-100 inline-flex items-center text-green-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'done'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-light-foregroud rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Done
                        </div>
                        <div
                          class="text-sm font-medium bg-blue-100 inline-flex items-center text-blue-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'ongoing'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-blue-500 rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Ongoing
                        </div>
                        <div
                          class="text-sm font-medium bg-yellow-100 inline-flex items-center text-yellow-800 py-1 px-2 rounded-full"
                          *ngIf="event.status === 'upcoming'"
                        >
                          <span
                            class="flex w-2.5 h-2.5 bg-yellow-500 rounded-full text-center me-1.5 flex-shrink-0"
                          ></span>
                          Upcoming
                        </div>
                      </div>
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-primary text-center capitalize"
                    >
                      {{ event.event_type }}
                    </td>
                    <td
                      class="px-6 py-4 flex items-center gap-2 justify-center"
                    >
                      <button
                        matTooltip="Update event image"
                        matTooltipPosition="above"
                        (click)="openFile(event.event_id)"
                        class="flex items-center justify-center text-light-text bg-white border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md hover:text-white"
                      >
                        <svg
                          class="w-6 h-6 text-light-text hover:text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1"
                            d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                          />
                        </svg>
                      </button>
                      <button
                        (click)="editEvent(event.event_id)"
                        matTooltip="Event is either done or ongoing."
                        matTooltipPosition="above"
                        matTooltipClass="custom"
                        [disabled]="event.status !== 'upcoming'"
                        [ngClass]="{
                          'opacity-50 cursor-not-allowed':
                            event.status !== 'upcoming'
                        }"
                        type="button"
                        aria-expanded="false"
                        class="flex items-center justify-center text-white bg-light-background border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-pencil"
                        >
                          <path
                            d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"
                          />
                          <path d="m15 5 4 4" />
                        </svg>
                      </button>
                      <app-delete-event
                        matTooltip="Delete Event"
                        matTooltipPosition="above"
                        [event_id]="event.event_id"
                        (eventDeleted)="loadEvent()"
                      ></app-delete-event>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex justify-center items-center mt-2.5 p-5">
              <mat-paginator
                [length]="filteredEventList['Pending'].length"
                [pageSize]="itemsPerPage"
                (page)="p = $event.pageIndex + 1"
              ></mat-paginator>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    }@else {
    <section>
      <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-sm text-center mx-auto">
          <svg
            class="emoji-404 mx-auto"
            enable-background="new 0 0 226 249.135"
            height="249.135"
            id="Layer_1"
            overflow="visible"
            version="1.1"
            viewBox="0 0 226 249.135"
            width="226"
            xml:space="preserve"
          >
            <circle cx="113" cy="113" fill="#FFE585" r="109" />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.29"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="88.866"
              x2="136.866"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="154.732"
              x2="168.732"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="69.732"
              x2="58.732"
              y1="245.135"
              y2="245.135"
            />
            <circle cx="68.732" cy="93" fill="#6E6E96" r="9" />
            <path
              d="M115.568,5.947c-1.026,0-2.049,0.017-3.069,0.045  c54.425,1.551,98.069,46.155,98.069,100.955c0,55.781-45.219,101-101,101c-55.781,0-101-45.219-101-101  c0-8.786,1.124-17.309,3.232-25.436c-3.393,10.536-5.232,21.771-5.232,33.436c0,60.199,48.801,109,109,109s109-48.801,109-109  S175.768,5.947,115.568,5.947z"
              enable-background="new    "
              fill="#FF9900"
              opacity="0.24"
            />
            <circle cx="156.398" cy="93" fill="#6E6E96" r="9" />
            <ellipse
              cx="67.732"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.372"
              ry="8.106"
            />
            <ellipse
              cx="154.88"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.371"
              ry="8.106"
            />
            <path
              d="M13,118.5C13,61.338,59.338,15,116.5,15c55.922,0,101.477,44.353,103.427,99.797  c0.044-1.261,0.073-2.525,0.073-3.797C220,50.802,171.199,2,111,2S2,50.802,2,111c0,50.111,33.818,92.318,79.876,105.06  C41.743,201.814,13,163.518,13,118.5z"
              fill="#FFEFB5"
            />
            <circle
              cx="113"
              cy="113"
              fill="none"
              r="109"
              stroke="#6E6E96"
              stroke-width="8"
            />
          </svg>

          <h1 class="text-gray-500 text-6xl block">No Events Found</h1>
          <p class="text-gray-500 text-xl">
            It looks like there are no events scheduled at the moment.
          </p>
        </div>
      </div>
    </section>
    }
  </div>
</main>
