<main class="!scroll-smooth w-full h-screen">
  <div class="mt-16 p-4 h-screen">
    <div class="w-full flex justify-between items-center">
      <div>
        <p class="mt-5 mb-2 text-text text-2xl tracking-wide font-semibold">
          Events List
        </p>
      </div>
      <button
        (click)="openDialog()"
        type="button"
        aria-expanded="false"
        class="text-white bg-light-background hover:bg-light-foregroud focus:outline-none focus:ring-0 font-medium rounded-md text-sm px-5 py-2.5 me-2 mt-5 mb-2"
      >
        Add Event
      </button>
    </div>
    <hr class="h-px mb-6 bg-dark-border border-0" />

    @if(eventList && eventList.length ){

    <div class="w-full h-full flex gap-2.5 items-center">
      <div class="max-w-[65%] w-full self-start">
        <div class="relative w-full overflow-x-auto border border-dark-border">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-sm text-white border-dark-primary capitalize bg-dark-foreground"
            >
              <tr>
                <th scope="col" class="p-4"></th>
                <th scope="col" class="px-6 py-3 tracking-widest font-medium">
                  Event Name
                </th>
                <th scope="col" class="px-6 py-3 tracking-widest font-medium">
                  Event Date
                </th>
                <th scope="col" class="px-6 py-3 tracking-widest font-medium">
                  Event Time
                </th>
                <th scope="col" class="px-6 py-3 tracking-widest font-medium">
                  Status
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 tracking-widest font-medium"
                ></th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                *ngFor="
                  let event of filteredEventList['Approved']
                    | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
                "
              >
                <td class="w-4 p-4"></td>
                <th
                  scope="row"
                  class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap capitalize dark:text-white"
                >
                  {{ event.event_name }}
                </th>
                <td class="px-6 py-1.5 text-gray-700">
                  {{ event.event_start_date | date }}
                </td>
                <td class="px-6 py-1.5 text-gray-700">
                  {{ event.event_start_date | date : "hh:mm a" }} -
                  {{ event.event_end_date | date : "hh:mm a" }}
                </td>
                <td class="px-6 py-1.5 text-gray-700 capitalize">
                  {{ getEventState(event) }}
                </td>

                <td class="px-6 py-1.5 text-gray-700">
                  <div
                    class="flex items-center justify-end relative gap-1.5 mt-2.5"
                  >
                    <button
                      (click)="cancelEvent(event.event_id)"
                      type="button"
                      aria-expanded="false"
                      class="flex items-center justify-center text-white bg-light-background border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-calendar-off"
                      >
                        <path
                          d="M4.2 4.2A2 2 0 0 0 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 1.82-1.18"
                        />
                        <path d="M21 15.5V6a2 2 0 0 0-2-2H9.5" />
                        <path d="M16 2v4" />
                        <path d="M3 10h7" />
                        <path d="M21 10h-5.5" />
                        <path d="m2 2 20 20" />
                      </svg>
                    </button>
                    <button
                      (click)="previewEvent(event.event_id)"
                      type="button"
                      aria-expanded="false"
                      class="flex items-center justify-center text-white bg-light-background border border-light-border hover:bg-light-foregroud rounded-md w-10 h-10 focus:outline-none shadow-md"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-eye"
                      >
                        <path
                          d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                        />
                        <circle cx="12" cy="12" r="3" />
                      </svg>
                    </button>
                    <app-delete-event
                      [event_id]="event.event_id"
                      (eventDeleted)="loadEvent()"
                    ></app-delete-event>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex justify-center items-center p-5">
          <pagination-controls
            (pageChange)="p = $event"
            [responsive]="true"
            class="pagination"
          ></pagination-controls>
        </div>
      </div>
      <div
        class="flex flex-col items-center self-baseline gap-3.5 w-[35%] h-full"
      >
        <div class="w-full">
          <div
            class="w-full p-4 bg-white border border-dark-border rounded-md shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex items-center justify-between mb-4">
              <h5
                class="text-xl font-bold leading-none text-gray-900 dark:text-white"
              >
                Pending Events
              </h5>
            </div>
            <div class="flow-root max-h-1/2 overflow-y-auto">
              <ul
                role="list"
                class="divide-y divide-gray-200 dark:divide-gray-700"
              >
                <li
                  class="py-3 px-5"
                  *ngFor="let event of filteredEventList['Pending']"
                >
                  <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                      <p
                        class="text-sm font-medium text-gray-900 truncate dark:text-white capitalize"
                      >
                        {{ event.event_name }}
                      </p>
                    </div>
                    <div
                      class="inline-flex items-center text-xs font-semibold text-blue-500 dark:text-white capitalize"
                    >
                      {{ event.approval_status }}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="w-full">
          <div
            class="w-full p-4 bg-white border border-dark-border rounded-md shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex items-center justify-between mb-4">
              <h5
                class="text-xl font-bold leading-none text-gray-900 dark:text-white"
              >
                Rejected Events
              </h5>
            </div>
            <div class="flow-root max-h-1/2 overflow-y-auto">
              <ul
                role="list"
                class="divide-y divide-gray-200 dark:divide-gray-700"
              >
                <li
                  class="py-3 px-5"
                  *ngFor="let event of filteredEventList['Rejected']"
                >
                  <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                      <p
                        class="text-sm font-medium text-gray-900 truncate dark:text-white capitalize"
                      >
                        {{ event.event_name }}
                      </p>
                    </div>
                    <button
                      (click)="
                        openMessage(
                          event.rejection_message,
                          event.approved_at,
                          event.event_name
                        )
                      "
                      class="inline-flex items-center text-xs font-semibold text-blue-500 dark:text-white capitalize"
                    >
                      View message
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    }@else {
    <section>
      <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-sm text-center mx-auto">
          <svg
            class="emoji-404 mx-auto"
            enable-background="new 0 0 226 249.135"
            height="249.135"
            id="Layer_1"
            overflow="visible"
            version="1.1"
            viewBox="0 0 226 249.135"
            width="226"
            xml:space="preserve"
          >
            <circle cx="113" cy="113" fill="#FFE585" r="109" />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.29"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="88.866"
              x2="136.866"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="154.732"
              x2="168.732"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="69.732"
              x2="58.732"
              y1="245.135"
              y2="245.135"
            />
            <circle cx="68.732" cy="93" fill="#6E6E96" r="9" />
            <path
              d="M115.568,5.947c-1.026,0-2.049,0.017-3.069,0.045  c54.425,1.551,98.069,46.155,98.069,100.955c0,55.781-45.219,101-101,101c-55.781,0-101-45.219-101-101  c0-8.786,1.124-17.309,3.232-25.436c-3.393,10.536-5.232,21.771-5.232,33.436c0,60.199,48.801,109,109,109s109-48.801,109-109  S175.768,5.947,115.568,5.947z"
              enable-background="new    "
              fill="#FF9900"
              opacity="0.24"
            />
            <circle cx="156.398" cy="93" fill="#6E6E96" r="9" />
            <ellipse
              cx="67.732"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.372"
              ry="8.106"
            />
            <ellipse
              cx="154.88"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.371"
              ry="8.106"
            />
            <path
              d="M13,118.5C13,61.338,59.338,15,116.5,15c55.922,0,101.477,44.353,103.427,99.797  c0.044-1.261,0.073-2.525,0.073-3.797C220,50.802,171.199,2,111,2S2,50.802,2,111c0,50.111,33.818,92.318,79.876,105.06  C41.743,201.814,13,163.518,13,118.5z"
              fill="#FFEFB5"
            />
            <circle
              cx="113"
              cy="113"
              fill="none"
              r="109"
              stroke="#6E6E96"
              stroke-width="8"
            />
          </svg>

          <h1 class="text-gray-500 text-6xl block">No Events Found</h1>
          <p class="text-gray-500 text-xl">
            It looks like there are no events scheduled at the moment.
          </p>
        </div>
      </div>
    </section>
    }
  </div>
</main>
