<div class="w-full flex flex-col items-center">
  <div
    class="w-full p-5 bg-white border max-h-[350px] h-[345px] border-dark-border rounded-md shadow"
  >
    <h5 class="text-xl font-bold mb-2.5 text-center leading-none text-gray-900">
      Registered Students
    </h5>

    <nav class="w-full" *ngIf="selectedEvent">
      <ul
        class="flex items-center justify-center gap-2.5 -space-x-px h-10 text-base"
      >
        <li>
          <button
            (click)="prevEvent()"
            [disabled]="currentIndex === 0"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="sr-only">Previous</span>
            <svg
              class="w-3 h-3 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
          </button>
        </li>
        <li>
          <div class="text-center">
            <button
              class="text-white bg-light-background hover:bg-light-foregroud focus:ring-0 font-medium rounded-md text-sm px-5 py-2.5 capitalize"
              type="button"
              data-drawer-target="drawer-example"
              data-drawer-show="drawer-example"
              aria-controls="drawer-example"
              (click)="toggleDrawer()"
            >
              {{ selectedEvent.event_name }}
            </button>
          </div>
        </li>
        <li>
          <button
            (click)="nextEvent()"
            [disabled]="currentIndex === events.length - 1"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="sr-only">Next</span>
            <svg
              class="w-3 h-3 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
          </button>
        </li>
      </ul>
      <div
        [ngClass]="{
          'translate-x-full': !isDrawerVisible,
          'translate-x-0': isDrawerVisible
        }"
        id="drawer-example"
        class="fixed top-0 border-l border-dark-border right-0 z-50 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white max-w-xl w-full dark:bg-gray-800"
        tabindex="-1"
      >
        <h5
          id="drawer-label"
          class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
            />
          </svg>
          Registered students in
          <span class="text-light-text ms-1 capitalize">
            {{ selectedEvent.event_name }}</span
          >
        </h5>
        <button
          type="button"
          data-drawer-hide="drawer-example"
          aria-controls="drawer-example"
          (click)="closeDrawer()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close menu</span>
        </button>

        <div
          class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
          *ngFor="let date of getDates(selectedEvent.event_id)"
        >
          <time class="text-lg font-semibold text-gray-900 dark:text-white">{{
            date | date : "EEEE, MMMM d, y"
          }}</time>
          <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
            <li
              *ngFor="
                let user of groupedRegisteredUsersMap[selectedEvent.event_id][
                  date
                ]
              "
            >
              <a
                class="items-center block p-3 sm:flex border border-dark-border rounded-md"
              >
                <div class="text-gray-600 dark:text-gray-400">
                  <div class="text-base font-normal">
                    <span class="font-medium text-gray-900 capitalize"
                      >{{ user.first_name }} {{ user.last_name }}
                    </span>
                    <span class="font-medium text-gray-900 dark:text-white">
                      registered to your event</span
                    >
                  </div>
                  <div class="text-sm font-normal">
                    {{ user.email }}
                  </div>
                  <span
                    class="inline-flex items-center text-sm font-normal text-gray-500 dark:text-gray-400"
                  >
                    {{ user.course }}: {{ user.year_level }} |
                    {{ user.block }}
                  </span>
                </div>
              </a>
            </li>
          </ol>
        </div>
      </div>
    </nav>

    <div class="flow-root w-full" *ngIf="selectedEvent">
      <ul role="list" class="divide-y divide-gray-200">
        <li
          class="py-3 sm:py-4 w-full"
          *ngFor="let user of registeredUsersMap[selectedEvent.event_id]"
        >
          <div class="flex items-center w-full">
            <div class="flex-1 min-w-0 ms-4">
              <p class="text-sm font-medium text-gray-900 truncate capitalize">
                {{ user.first_name }} {{ user.last_name }}
                <span class="lowercase">registered to your event</span>
              </p>
              <p class="text-xs text-gray-500 truncate">
                {{ user.course }} {{ user.year_level }}
              </p>
              <span
                *ngIf="isNewUser(user)"
                class="absolute top-0 right-0 h-3 w-3 bg-red-500 rounded-full"
              ></span>
            </div>
            <div
              class="inline-flex items-center text-xs font-semibold text-gray-500"
            >
              {{ formatRegistrationDate(user.registration_date) }}
            </div>
          </div>
        </li>
        <!-- no events -->
        <div
          class="text-center py-8"
          *ngIf="
            !registeredUsersMap[selectedEvent.event_id] ||
            registeredUsersMap[selectedEvent.event_id].length === 0
          "
        >
          <svg
            class="emoji-404 mx-auto h-20"
            enable-background="new 0 0 226 249.135"
            id="Layer_1"
            overflow="visible"
            version="1.1"
            viewBox="0 0 226 249.135"
            width="226"
            xml:space="preserve"
          >
            <circle cx="113" cy="113" fill="#FFE585" r="109" />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.29"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="88.866"
              x2="136.866"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="154.732"
              x2="168.732"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="69.732"
              x2="58.732"
              y1="245.135"
              y2="245.135"
            />
            <circle cx="68.732" cy="93" fill="#6E6E96" r="9" />
            <path
              d="M115.568,5.947c-1.026,0-2.049,0.017-3.069,0.045  c54.425,1.551,98.069,46.155,98.069,100.955c0,55.781-45.219,101-101,101c-55.781,0-101-45.219-101-101  c0-8.786,1.124-17.309,3.232-25.436c-3.393,10.536-5.232,21.771-5.232,33.436c0,60.199,48.801,109,109,109s109-48.801,109-109  S175.768,5.947,115.568,5.947z"
              enable-background="new    "
              fill="#FF9900"
              opacity="0.24"
            />
            <circle cx="156.398" cy="93" fill="#6E6E96" r="9" />
            <ellipse
              cx="67.732"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.372"
              ry="8.106"
            />
            <ellipse
              cx="154.88"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.371"
              ry="8.106"
            />
            <path
              d="M13,118.5C13,61.338,59.338,15,116.5,15c55.922,0,101.477,44.353,103.427,99.797  c0.044-1.261,0.073-2.525,0.073-3.797C220,50.802,171.199,2,111,2S2,50.802,2,111c0,50.111,33.818,92.318,79.876,105.06  C41.743,201.814,13,163.518,13,118.5z"
              fill="#FFEFB5"
            />
            <circle
              cx="113"
              cy="113"
              fill="none"
              r="109"
              stroke="#6E6E96"
              stroke-width="8"
            />
          </svg>
          <h2 class="text-2xl text-gray-500">No Registered Users Found</h2>
          <p class="text-gray-500">
            It looks like there are no registered users for this event yet.
          </p>
        </div>
      </ul>
    </div>
  </div>
</div>
