<main class="w-full">
  <div class="p-4 mt-16 h-screen">
    <div>
      <p class="mt-5 mb-2 text-text text-2xl font-semibold tracking-wide">
        Attendance Submission
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />

      <div
        class="relative overflow-x-auto shadow-md rounded-md border-dark-border border"
      >
        <table class="w-full text-sm text-left rtl:text-right text-gray-50">
          <thead
            class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground sticky top-0 z-10"
          >
            <tr>
              <th
                scope="col"
                class="px-6 py-3 tracking-widest text-center font-medium"
              >
                Event Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 tracking-widest text-center font-medium"
              >
                Date
              </th>
              <th
                scope="col"
                class="px-6 py-3 tracking-widest text-center font-medium"
              >
                Time
              </th>
              <th scope="col" class="px-6 py-3 tracking-widest font-medium">
                Status
              </th>
              <th
                scope="col"
                class="px-6 py-3 tracking-widest font-medium text-center"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let event of eventList
                  | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
              "
              class="bg-white border-b border-dark-border"
            >
              <td
                class="font-semibold text-gray-900 text-center dark:text-white"
              >
                {{ event.event_name }}
              </td>
              <td
                class="font-semibold text-gray-900 text-center dark:text-white"
              >
                {{ event.event_start_date | date : "longDate" }} -
                {{ event.event_end_date | date : "longDate" }}
              </td>
              <td
                class="font-semibold text-gray-900 text-center dark:text-white"
              >
                {{ event.event_start_date | date : "shortTime" }} -
                {{ event.event_end_date | date : "shortTime" }}
              </td>
              <td class="font-semibold mx-auto text-gray-900 dark:text-white">
                <div
                  class="text-sm font-medium text-center mx-auto bg-green-100 inline-flex items-center text-green-800 py-1 px-2 rounded-full"
                  *ngIf="event.status === 'done'"
                >
                  <span
                    class="flex w-2.5 h-2.5 bg-light-foregroud rounded-full text-center me-1.5 flex-shrink-0"
                  ></span>
                  Done
                </div>
                <div
                  class="text-sm font-medium bg-blue-100 inline-flex items-center text-blue-800 py-1 px-2 rounded-full"
                  *ngIf="event.status === 'ongoing'"
                >
                  <span
                    class="flex w-2.5 h-2.5 bg-blue-500 rounded-full text-center me-1.5 flex-shrink-0"
                  ></span>
                  Ongoing
                </div>
                <div
                  class="text-sm font-medium bg-yellow-100 inline-flex items-center text-yellow-800 py-1 px-2 rounded-full"
                  *ngIf="event.status === 'upcoming'"
                >
                  <span
                    class="flex w-2.5 h-2.5 bg-yellow-500 rounded-full text-center me-1.5 flex-shrink-0"
                  ></span>
                  Upcoming
                </div>
              </td>
              <td class="p-2">
                <div class="flex justify-end relative">
                  <button
                    type="button"
                    matTooltip="Event is either done or ongoing."
                    matTooltipPosition="above"
                    [matTooltipDisabled]="
                      !(
                        event.status === 'upcoming' ||
                        event.status === 'ongoing'
                      )
                    "
                    (click)="viewEvent(event.event_id)"
                    [disabled]="event.status !== 'done'"
                    [ngClass]="{
                      'opacity-50 cursor-not-allowed':
                        event.status === 'upcoming' ||
                        event.status === 'ongoing'
                    }"
                    class="py-2.5 px-5 text-sm block mx-auto cursor-pointer text-white font-bold font-secondary rounded-md bg-light-background hover:bg-light-foregroud"
                  >
                    View Submissions
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center items-center mt-2.5 p-5">
        <pagination-controls
          (pageChange)="p = $event"
          [maxSize]="maxSize"
          [responsive]="true"
          class="pagination"
        ></pagination-controls>
      </div>
    </div>
  </div>
</main>
