<section class="bg-white dark:bg-gray-900 w-full">
  <div class="max-w-full bg-white max-h-[500px] overflow-scroll">
    <div class="p-5">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3
          class="text-2xl font-semibold font-primary text-gray-900 dark:text-white"
        >
          {{ data.event.event_name }}
        </h3>
        <button
          type="button"
          (click)="closeDialog()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="static-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <p
          class="text-base font-secondary leading-relaxed text-gray-500 dark:text-gray-400"
        >
          {{ data.event.event_description }}
        </p>

        <div class="flex items-center my-2.5">
          <svg
            class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            />
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
            />
          </svg>

          <p
            class="text-base font-secondary leading-relaxed text-gray-500 dark:text-gray-400"
          >
            Location: {{ data.event.event_location }}
          </p>
        </div>

        <div class="flex items-center my-2.5">
          <svg
            class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
            />
          </svg>

          <p
            class="text-base font-secondary leading-relaxed text-gray-500 dark:text-gray-400 ms-1"
          >
            Start Date:
            {{ data.event.event_start_date | date : "MMM d, y, h:mm a" }}
          </p>
          <span class="ms-1"> - </span>
          <p
            class="text-base leading-relaxed text-gray-500 dark:text-gray-400 ms-1"
          >
            {{ data.event.event_end_date | date : "MMM d, y, h:mm a" }}
          </p>
        </div>

        <!-- <div class="flex items-center my-2.5">
          <svg
            class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
            />
          </svg>
          <p
            class="text-base font-secondary leading-relaxed text-gray-500 dark:text-gray-400 ms-1"
          >
            Registration Date:
            {{
              data.event.event_registration_start | date : "MMM d, y, h:mm a"
            }}
          </p>
          <span class="ms-1"> - </span>
          <p
            class="text-base leading-relaxed text-gray-500 dark:text-gray-400 ms-1"
          >
            {{ data.event.event_registration_end | date : "MMM d, y, h:mm a" }}
          </p>
        </div> -->

        <div class="flex items-center my-2.5">
          <svg
            class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 9H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h6m0-6v6m0-6 5.419-3.87A1 1 0 0 1 18 5.942v12.114a1 1 0 0 1-1.581.814L11 15m7 0a3 3 0 0 0 0-6M6 15h3v5H6v-5Z"
            />
          </svg>
          <p
            class="text-base font-secondary leading-relaxed text-gray-500 dark:text-gray-400 ms-1"
          >
            Mode: {{ data.event.session }}
          </p>
        </div>

        <div class="flex items-center my-2.5">
          <svg
            class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z"
            />
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            />
          </svg>

          <p
            class="text-base font-secondaryleading-relaxed text-gray-500 dark:text-gray-400 ms-1"
          >
            Status: {{ eventWithStatus.status | titlecase }}
          </p>
        </div>

        <div class="flex items-center my-2.5">
          <svg
            class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
            />
          </svg>

          <p
            class="text-base font-secondary leading-relaxed text-gray-500 dark:text-gray-400 ms-1"
          >
            Max Participants: {{ data.event.max_attendees }}
          </p>
        </div>
      </div>

      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          (click)="registerForEvent(data.event.event_id)"
          data-modal-hide="static-modal"
          type="button"
          class="text-white font-secondary bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Register
        </button>
        <button
          data-modal-hide="static-modal"
          (click)="unregister(data.event.event_id)"
          type="button"
          class="py-2.5 px-5 font-secondary ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
        >
          Unregister
        </button>
      </div>
    </div>
  </div>
</section>
