.avatar-placeholder {
  background-image: url("./../../../../../assets/images/event_placeholder.jpg");
  object-fit: cover;
  object-position: center;
}

.image-container {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}
