<div class="relative h-fit">
  <div
    class="flex w-full p-2.5 h-full flex-col gap-4 rounded-t-md overflow-y-scroll"
  >
    <!-- ?names of user -->
    <div
      *ngFor="let request of messageRequests"
      class="bg-sky-200"
      (click)="goToOtherConvo(request.user_id)"
    >
      <h1>{{ request.first_name }} {{ request.last_name }}</h1>
    </div>

    <div
      class="chat-header px-6 py-4 flex flex-row flex-none justify-between items-center shadow"
    >
      <div class="flex items-center" *ngFor="let request of messageRequests">
        <div class="w-12 h-12 mr-4 relative flex flex-shrink-0">
          <img
            class="shadow-md rounded-full w-full h-full object-cover"
            src="./../../../../assets/images/idea.png"
            alt=""
          />
        </div>
        <p class="font-bold text-sm">
          {{ request.first_name }} {{ request.last_name }}
        </p>
      </div>
    </div>

    <!-- message of bth user-->
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        'message-left': message.sender_id !== data.currentUser,
        'message-right': message.sender_id === data.currentUser
      }"
    >
      <span class="font-semibold"
        >{{ message.senderFirstName }} {{ message.senderLastName }}
        <span class="opacity-40" *ngIf="message.sender_id == data.currentUser">
          (You)
        </span>
      </span>
      <span>{{ message.created_at | date : "medium" }}</span>
      <div class="text-sm">
        {{ message.message }}
      </div>
    </div>
  </div>
  <div class="bg-gray-300 p-4 sticky bottom-0 w-full">
    <form [formGroup]="messageForm" class="flex gap-2 items-center">
      <input
        class="flex items-center h-10 w-full rounded px-3 text-sm focus:ring-0 focus:border-dark-border"
        type="text"
        placeholder="Type your message…"
        formControlName="message"
      />
      <button
        (click)="sendMessage()"
        class="inline-flex items-center justify-center rounded-md text-sm font-medium text-[#f9fafb] disabled:pointer-events-none disabled:opacity-50 bg-black hover:bg-[#111827E6] h-10 px-4 py-2"
      >
        Send
      </button>
    </form>
  </div>
</div>
