<div class="relative h-fit">
  <div
    class="flex w-full p-2.5 h-full flex-col gap-4 rounded-t-md overflow-y-scroll"
  >
    <!-- <div
      class="mr-auto flex max-w-[80%] flex-col gap-2 rounded-r-xl rounded-tl-xl bg-slate-100 p-4 md:max-w-[60%] dark:bg-slate-800"
    >
      <span class="font-semibold text-black dark:text-white">Penguin UI</span>
      <div class="text-sm text-slate-700 dark:text-slate-300">
        Hi there! How can I assist you today?
      </div>
    </div>

    
    <div
      class="ml-auto flex max-w-[80%] flex-col gap-2 rounded-l-xl rounded-tr-xl bg-blue-700 p-4 text-sm text-slate-100 md:max-w-[60%] dark:bg-blue-600 dark:text-slate-100"
    >
      I accidentally deleted some important files. Can they be recovered?
    </div>

    
    <div
      class="mr-auto flex max-w-[80%] flex-col gap-2 rounded-r-xl rounded-tl-xl bg-slate-100 p-4 text-slate-700 md:max-w-[60%] dark:bg-slate-800 dark:text-slate-300"
    >
      <span class="font-semibold text-black dark:text-white">Penguin UI</span>
      <div class="text-sm">
        I'm sorry to hear that. Let me guide you through the process to resolve
        it. Could you please provide your username?
      </div>
    </div> -->

    <div
      *ngFor="let request of messageRequests"
      class="bg-sky-200"
      (click)="goToOtherConvo(request.user_id)"
    >
      <h1>{{ request.first_name }} {{ request.last_name }}</h1>
    </div>

    <div
      *ngFor="let message of messages"
      class="mr-auto flex max-w-[80%] flex-col gap-2 rounded-r-xl rounded-tl-xl bg-slate-100 p-4 text-slate-700 md:max-w-[60%] dark:bg-slate-800 dark:text-slate-300"
    >
      <span class="font-semibold text-black dark:text-white"
        >{{ message.senderFirstName }} {{ message.senderLastName
        }}<span
          class="opacity-40"
          *ngIf="message.sender_id == this.data.currentUser"
          >(You)</span
        ></span
      ><span>{{ message.created_at | date : "medium" }}</span>
      <div class="text-sm">
        {{ message.message }}
      </div>
    </div>
  </div>
  <div class="bg-gray-300 p-4 sticky bottom-0 w-full">
    <form [formGroup]="messageForm" class="flex gap-2 items-center">
      <input
        class="flex items-center h-10 w-full rounded px-3 text-sm focus:ring-0 focus:border-dark-border"
        type="text"
        placeholder="Type your message…"
        formControlName="message"
      />
      <button
        (click)="sendMessage()"
        class="inline-flex items-center justify-center rounded-md text-sm font-medium text-[#f9fafb] disabled:pointer-events-none disabled:opacity-50 bg-black hover:bg-[#111827E6] h-10 px-4 py-2"
      >
        Send
      </button>
    </form>
  </div>
</div>
