<section class="bg-white dark:bg-gray-900 p-5 w-full">
  <div class="max-w-full bg-white rounded-lg">
    <a href="#">
      <img class="rounded-t-lg" src="#" alt="image here" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5
          class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ data.event.event_name }}
        </h5>
      </a>
      <p class="my-3 ms-2 font-normal text-lg text-gray-700 dark:text-gray-400">
        {{ data.event.event_description }}
      </p>
      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
          />
        </svg>

        <span class="ms-2 font-primary text-base">{{
          data.event.event_location
        }}</span>
      </div>
      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
          />
        </svg>

        <span class="ms-2 text-base font-primary"
          >Start Date:
          {{ data.event.event_start_date | date : "MMM d, y, h:mm a" }}
        </span>
        <span class="ms-1"> - </span>
        <span class="ms-2 text-base font-primary"
          >End Date{{
            data.event.event_end_date | date : "MMM d, y, h:mm a"
          }}</span
        >
      </div>

      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
          />
        </svg>
        <span class="ms-2 text-base font-primary"
          >Registration Date:
          {{ data.event.event_registration_start | date : "longDate" }}
        </span>
        <span class="ms-1"> - </span>
        <span class="ms-2 text-base font-primary">{{
          data.event.event_registration_end | date : "longDate"
        }}</span>
      </div>

      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 9H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h6m0-6v6m0-6 5.419-3.87A1 1 0 0 1 18 5.942v12.114a1 1 0 0 1-1.581.814L11 15m7 0a3 3 0 0 0 0-6M6 15h3v5H6v-5Z"
          />
        </svg>
        <span class="ms-2 font-primary text-sm">{{
          data.event.session_id
        }}</span>
      </div>

      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          />
        </svg>

        <span class="ms-2 font-primary text-sm">{{
          data.event.status_id
        }}</span>
      </div>

      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
          />
        </svg>

        <span class="ms-2 font-primary text-sm">{{
          data.event.requirement_id
        }}</span>
      </div>
    </div>
  </div>
</section>
