<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 sm:ml-64">
    <div class="container -my-6 md:-my-4 sm:mt-5 p -4">
      <div
        class="flex items-center justify-center min-h-screen container mx-auto"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
          <!-- cards -->
          <div class="rounded-xl border-2 shadow-lg">
            <div class="p-5 flex flex-col">
              <div class="rounded-xl overflow-hidden">
                <img
                  src="../../../../../assets/images/gojo.jpg"
                  alt="Event Image"
                />
              </div>
              <h5 class="text-xl md:text-2xl font-medium mt-3 font-primary">
                {{ events.eventName }}
              </h5>
              <p class="text-slate-500 text-base mt-3 font-secondary">
                {{ truncateDescription(events.eventDesc, maxChar) }}
              </p>
              <a
                href="#"
                class="text-center bg-blue-400 text-blue-700 tracking-wide py-2 rounded-lg font-semibold mt-4 hover:text-white-alice_blue hover:bg-blue-300 focus:scale-95transition-allduration-200ease-out"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
