<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 sm:ml-64 mt-16">
    <div>
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        Events
      </p>
      <hr class="h-px mb-6 bg-gray-200 border-0 dark:bg-gray-700" />
    </div>

    <div class="container">
      @defer{
      <section
        class="flex items-center flex-col"
        *ngIf="latestEvent || otherEvents.length > 0"
      >
        <!-- latest -->
        <div class="flex justify-start w-full items-center mb-2">
          <h3 class="text-lg font-secondary font-medium">Latest Event</h3>
        </div>
        <div class="rounded-xl border-2 shadow-lg container bg-gray-50">
          <div
            class="p-3.5 flex flex-col lg:flex-row w-full items-center relative"
          >
            <div class="rounded-md md:w-1/2">
              <img
                src="../../../../../assets/images/gojo.jpg"
                alt="fetch images"
                class="block h-full w-full rounded-md object-cover object-center"
              />
            </div>
            <div class="p-5 w-full lg:w-1/2 pr-3">
              <div class="mb-5">
                <h1
                  class="overflow-hidden text-ellipsis text-2xl md:text-2xl font-medium mt-3 font-primary"
                >
                  {{ latestEvent.event_name }}
                </h1>
                <div class="flex items-center">
                  <svg
                    class="w-5 h-5 inline flex-shrink-0 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"
                    />
                  </svg>
                  <span class="ms-2 text-xs font-primary"
                    >{{ latestEvent.event_start_date | date : "longDate" }}
                  </span>
                  <span class="ms-1"> - </span>
                  <span class="ms-2 text-xs font-primary">{{
                    latestEvent.event_end_date | date : "longDate"
                  }}</span>
                </div>
              </div>
              <p
                class="leading-tight text-base overflow-hidden whitespace-pre-line text-ellipsis text-slate-500"
              >
                {{
                  truncateDescription(latestEvent.event_description, maxChar)
                }}
              </p>
              <button
                class="bg-carribean_green-mint hover:bg-carribean_green-minted text-white text-sm font-semibold font-secondary shadow-sm rounded-full py-2 px-6 relative -bottom-3.5"
                (click)="viewEvent(latestEvent)"
              >
                Read More
              </button>
            </div>
          </div>
        </div>

        <!-- other -->
        <div class="flex justify-start w-full items-center mt-5 mb-2">
          <h3 class="text-lg font-secondary font-medium">Other Events</h3>
        </div>
        <!-- grid cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
          <div
            *ngFor="let event of otherEvents"
            class="rounded-xl border-2 shadow-lg container p-3.5 mb-5 bg-gray-50"
          >
            <div class="flex flex-col">
              <div class="rounded-md overflow-hidden">
                <img
                  src="../../../../../assets/images/gojo.jpg"
                  alt="Event Image"
                />
              </div>
              <h5 class="text-xl md:text-xl font-medium mt-3 font-primary">
                {{ event.event_name }}
              </h5>
              <div class="flex items-center">
                <svg
                  class="w-5 h-5 inline flex-shrink-0 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"
                  />
                </svg>
                <span class="ms-2 text-xs font-primary">{{
                  event.event_start_date | date : "longDate"
                }}</span>
                <span class="ms-1"> - </span>
                <span class="ms-2 text-xs font-primary">{{
                  event.event_end_date | date : "longDate"
                }}</span>
              </div>
              <p class="text-slate-500 text-sm mt-3 font-secondary">
                {{ truncateDescription(event.event_description, maxChar) }}
              </p>
              <div class="flex w-full justify-start items-center">
                <button
                  (click)="viewEvent(event)"
                  class="bg-carribean_green-mint hover:bg-carribean_green-minted text-white text-sm font-semibold font-secondary shadow-sm rounded-full py-2 px-6 relative -bottom-3.5 mb-4"
                >
                  Read More
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      }
      <div *ngIf="!latestEvent && otherEvents.length === 0">
        <p>No events found.</p>
      </div>
    </div>
  </div>
</main>
