.pagination ::ng-deep .ngx-pagination .current {
  background-color: #09090b;
  border-radius: 100%;
  padding: 2.5px 10px;
  display: inline-flex;
  justify-self: center;
  color: #fff;
}

.pagination ::ng-deep .ngx-pagination li {
  border-radius: 25px;
  margin: 0 2px;
}

.pagination ::ng-deep .ngx-pagination li :hover {
  border-radius: 25px;
}

.avatar-placeholder {
  background-image: url("./../../../../../assets/images/event_placeholder.jpg");
  object-fit: cover;
  object-position: center;
}

.image-container {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

