<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        Mark Attendance
      </p>
      <hr class="h-px mb-6 bg-gray-200 dark:bg-gray-700" />
    </div>

    @if(eventList && eventList.length ){
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        <div
          *ngFor="let event of eventList; let i = index"
          class="rounded-xl border-2 shadow-lg container mb-5 bg-linen"
        >
          <div class="p-3.5 flex flex-col">
            <div class="rounded-md overflow-hidden max-h-60 h-60">
              <img
                *ngIf="event.event_image; else placeholder"
                [src]="event.event_image"
                class="rounded-md object-cover object-center h-60 w-full"
              />
              <ng-template #placeholder>
                <div
                  class="event-placeholder image-container relative w-full h-60 bg-event_placeholder object-center object-contain"
                ></div>
              </ng-template>
            </div>
            <h5 class="text-xl md:text-xl font-medium mt-3 font-primary">
              {{ event.event_name }}
            </h5>
            <div class="flex items-center">
              <svg
                class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"
                />
              </svg>
              <span class="ms-2 font-primary text-sm"
                >{{ event.event_start_date | date }} to
                {{ event.event_end_date | date }}</span
              >
            </div>
            <p class="text-slate-500 text-sm mt-3 font-secondary">
              {{ truncateDescription(event.event_description, maxChar) }}
            </p>
            <!-- buttons -->
            <div class="w-full flex justify-between items-center mt-2">
              <div>
                <button
                  type="button"
                  (click)="viewEvent(event.event_id)"
                  class="py-2.5 px-5 text-sm text-white font-bold font-secondary focus:outline-none rounded-lg bg-ivy hover:bg-serpentine hover:text-primary-700 focus:z-10"
                >
                  Preview
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }@else {
    <div #noEvents>HELLOW</div>
    }
  </div>
</main>
