<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p
        class="font-secondary mb-2 text-black text-2xl tracking-wide font-bold"
      >
        Mark Attendance
      </p>
      <hr class="h-px mb-6 bg-gray-200 dark:bg-gray-700" />
    </div>

    @if(eventList && eventList.length > 0 ){
    <div
      class="relative overflow-x-auto shadow-md rounded-md border-dark-border border"
    >
      <table class="w-full text-sm text-left rtl:text-right text-gray-50">
        <thead class="text-xs text-gray-700 uppercase bg-dark-primary">
          <tr>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Image</span>
            </th>
            <th scope="col" class="px-6 py-3">Event Name</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let event of eventList
                | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
            "
            class="bg-white border-b border-dark-border"
          >
            <td class="w-16 md:w-32 h-12 max-w-full max-h-full">
              <img
                *ngIf="event.event_image"
                [src]="event.event_image"
                class="w-16 md:w-32 h-16 max-w-full max-h-full object-contain"
              />
            </td>
            <td class="font-semibold text-gray-900 dark:text-white text-left">
              {{ event.event_name }}
            </td>
            <td class="font-semibold text-gray-900 dark:text-white">
              <span class="flex items-center text-sm font-normal me-3"
                ><span
                  *ngIf="event.status === 'upcoming'"
                  class="flex w-2.5 h-2.5 bg-yellow-300 rounded-full me-1.5 flex-shrink-0"
                ></span>
                <span
                  *ngIf="event.status === 'done'"
                  class="flex w-2.5 h-2.5 bg-green-500 rounded-full me-1.5 flex-shrink-0"
                ></span>
                <span
                  *ngIf="event.status === 'ongoing'"
                  class="flex w-2.5 h-2.5 bg-blue-500 rounded-full me-1.5 flex-shrink-0"
                ></span>
                {{ event.status | titlecase }}
              </span>
            </td>
            <td class="p-2">
              <button
                type="button"
                (click)="viewEvent(event.event_id)"
                [disabled]="event.status !== 'done'"
                class="py-2.5 px-5 text-sm block mx-auto cursor-pointer text-white font-bold font-secondary rounded-md bg-dark-background hover:bg-dark-foreground"
              >
                View Submissions
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center items-center mt-2.5 p-5">
      <pagination-controls
        (pageChange)="p = $event"
        [maxSize]="maxSize"
        [responsive]="true"
        class="pagination"
      ></pagination-controls>
    </div>
    }@else {
    <div #noEvents>HELLOW</div>
    }
  </div>
</main>
