<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        AttendEase Admin Dashboard
      </p>
      <hr class="h-px mb-6 bg-linen border-0 dark:bg-gray-700" />
    </div>
    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg border border-gray-300"
    >
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-linen dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th
              scope="col"
              class="px-6 py-3 font-secondary font-bold text-base"
            >
              Name
            </th>
            <th
              scope="col"
              class="px-6 py-3 font-secondary font-bold text-base"
            >
              Year Level
            </th>
            <th
              scope="col"
              class="px-6 py-3 font-secondary font-bold text-base"
            >
              Block
            </th>
            <th
              scope="col"
              class="px-6 py-3 font-secondary font-bold text-base"
            >
              Course
            </th>
            <th
              scope="col"
              class="px-6 py-3 font-secondary font-bold text-base"
            >
              Email
            </th>
            <th
              scope="col"
              class="px-6 py-3 font-secondary font-bold text-base"
            >
              Role
            </th>
            <th
              scope="col"
              class="px-6 py-3 font-secondary font-bold text-base"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of datalist"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <th
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ data.first_name | titlecase }} {{ data.last_name | titlecase }}
            </th>
            <td class="px-6 py-4">{{ data.year_level }}</td>
            <td class="px-6 py-4">{{ data.block | uppercase }}</td>
            <td class="px-6 py-4">{{ data.course }}</td>
            <td class="px-6 py-4">{{ data.email }}</td>
            @if(data.role_id === 1){
            <td class="px-6 py-4">Admin</td>
            }@else if (data.role_id === 2) {
            <td class="px-6 py-4">Organizer</td>
            }@else {
            <td class="px-6 py-4">Student</td>
            }
            <td class="px-6 py-4">
              <button
                (click)="updateUser(data.user_id)"
                class="font-medium font-primary text-blue-600 dark:text-blue-500 hover:underline"
              >
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
