<main class="!scroll-smooth w-full h-screen">
    <div class="p-4 mt-16 sm:ml-64">

        <div name="divfortable">
            <table class="text-center">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Year Level</th>
                        <th>Block</th>
                        <th>Course</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Management</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datalist">
                        <td>{{data.user_id}}</td>
                        <td>{{data.first_name}}</td>
                        <td>{{data.last_name}}</td>
                        <td>{{data.year_level}}</td>
                        <td>{{data.block}}</td>
                        <td>{{data.course}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.role_id}}</td>
                        <td><button (click)="updateUser(data.user_id)">View</button></td>
                </tbody>
            </table>
            
        </div>


    </div>
</main>