<main class="!scroll-smooth w-full h-screen dark:bg-black">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p class="mt-5 mb-2 text-text text-2xl tracking-wide font-semibold">
        Event List
      </p>
      <hr class="h-px mb-5 bg-dark-border border-0" />
    </div>

    @if(filteredEvents && filteredEvents.length > 0){
    <div class="flex w-full justify-end mb-3">
      <div class="max-w-md flex-1">
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-dark-border rounded-md bg-white focus:border-light-border focus:ring-0"
            placeholder="Search..."
            (input)="searchEvents($event)"
            required
          />
          <button
            type="submit"
            class="text-white absolute end-2.5 bottom-2.5 bg-light-background hover:bg-light-foregroud focus:ring-0 font-medium rounded-md text-sm px-4 py-2"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div
      *ngIf="filteredEvents && filteredEvents.length > 0; else placeholder"
      class="relative overflow-x-auto shadow-md sm:rounded-lg border border-dark-border"
    >
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground sticky top-0 z-10"
        >
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-start tracking-widest font-medium"
            >
              Product name
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Organized By
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Organization
            </th>
            <th
              scope="col"
              class="px-6 py-3 tracking-widest font-medium cursor-pointer"
              (click)="sortEventsByStatus()"
            >
              Status
              <span *ngIf="sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortDirection === 'desc'">&#9660;</span>
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let event of filteredEvents
                | paginate : { currentPage: p, itemsPerPage: itemsPerPage }
            "
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ event.event_name }}
            </th>
            <td class="px-6 py-4">{{ event.organizer_name }}</td>
            <td class="px-6 py-4">{{ event.organizer_organization }}</td>
            <td class="px-6 py-4">{{ event.approval_status }}</td>
            <td class="px-6 py-4 text-center">
              <button
                (click)="openPage(event.event_id)"
                class="font-medium text-light-background dark:text-light-foregroud hover:underline"
              >
                View Event
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #placeholder>
      <div class="tracking-widest mt-4 text-center">
        <p class="text-center text-xl">(￣ ￣|||)</p>
        <span class="text-gray-500 text-xl">no search results found...</span>
      </div>
    </ng-template>

    <div
      *ngIf="events && filteredEvents.length > 0"
      class="flex justify-center items-center mt-auto p-5"
    >
      <pagination-controls
        (pageChange)="p = $event"
        [maxSize]="maxSize"
        [responsive]="true"
        class="pagination"
      ></pagination-controls>
    </div>
    }@else{
    <section>
      <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-sm text-center mx-auto">
          <svg
            class="emoji-404 mx-auto"
            enable-background="new 0 0 226 249.135"
            height="249.135"
            id="Layer_1"
            overflow="visible"
            version="1.1"
            viewBox="0 0 226 249.135"
            width="226"
            xml:space="preserve"
          >
            <circle cx="113" cy="113" fill="#FFE585" r="109" />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.29"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="88.866"
              x2="136.866"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="154.732"
              x2="168.732"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="69.732"
              x2="58.732"
              y1="245.135"
              y2="245.135"
            />
            <circle cx="68.732" cy="93" fill="#6E6E96" r="9" />
            <path
              d="M115.568,5.947c-1.026,0-2.049,0.017-3.069,0.045  c54.425,1.551,98.069,46.155,98.069,100.955c0,55.781-45.219,101-101,101c-55.781,0-101-45.219-101-101  c0-8.786,1.124-17.309,3.232-25.436c-3.393,10.536-5.232,21.771-5.232,33.436c0,60.199,48.801,109,109,109s109-48.801,109-109  S175.768,5.947,115.568,5.947z"
              enable-background="new    "
              fill="#FF9900"
              opacity="0.24"
            />
            <circle cx="156.398" cy="93" fill="#6E6E96" r="9" />
            <ellipse
              cx="67.732"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.372"
              ry="8.106"
            />
            <ellipse
              cx="154.88"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.371"
              ry="8.106"
            />
            <path
              d="M13,118.5C13,61.338,59.338,15,116.5,15c55.922,0,101.477,44.353,103.427,99.797  c0.044-1.261,0.073-2.525,0.073-3.797C220,50.802,171.199,2,111,2S2,50.802,2,111c0,50.111,33.818,92.318,79.876,105.06  C41.743,201.814,13,163.518,13,118.5z"
              fill="#FFEFB5"
            />
            <circle
              cx="113"
              cy="113"
              fill="none"
              r="109"
              stroke="#6E6E96"
              stroke-width="8"
            />
          </svg>

          <h1 class="text-gray-500 text-6xl block">No Events Found</h1>
          <p class="text-gray-500 text-xl">
            It looks like there are no events scheduled at the moment.
          </p>
        </div>
      </div>
    </section>
    }
  </div>
</main>
