<nav class="fixed top-0 z-50 w-full bg-white border-b-2 border-dark-border">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-dark-primary"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a class="flex ms-2 md:me-24">
          <img
            src="../../../../assets/images/attendease_logo.png"
            class="h-12 w-12 me-1 border-none"
            alt="AttendEase"
          />
          <span
            class="self-center text-xl text-black font-bold font-primary whitespace-nowrap"
            >AttendEase</span
          >
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <div>
            <button
              type="button"
              class="flex text-sm bg-dark-primary rounded-full"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <div
                class="relative w-7 h-7 overflow-hidden bg-dark-background rounded-full"
              >
                <svg
                  class="absolute w-9 h-8 text-dark-primary -left-1"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow-md border border-gray-300 dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user"
          >
            <div class="px-4 py-3" role="none" *ngIf="studentProfile">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                {{ studentProfile.first_name | titlecase }}
                {{ studentProfile.last_name | titlecase }}
              </p>
              <p
                class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                role="none"
              ></p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a
                  routerLink="dashboard"
                  class="block px-4 py-2 text-sm text-custom_black hover:bg-dark-primary"
                  role="menuitem"
                  >Dashboard</a
                >
              </li>

              <li>
                <button
                  (click)="logout()"
                  class="flex justify-start px-4 py-2 text-sm text-custom_black w-full hover:bg-dark-primary"
                  role="menuitem"
                >
                  Sign out
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-dark-border sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="dashboard"
          [routerLinkActive]="'bg-dark-primary'"
          class="flex items-center p-2 text-black rounded-lg hover:bg-dark-primary group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-dock"
          >
            <path d="M2 8h20" />
            <rect width="20" height="16" x="2" y="4" rx="2" />
            <path d="M6 16h12" />
          </svg>
          <span
            class="flex-1 ms-3 text-base whitespace-nowrap font-primary text-black"
            >Dashboard</span
          >
        </a>
      </li>
      <!-- user -->
      <li>
        <a
          routerLink="profile"
          [routerLinkActive]="'bg-dark-primary'"
          class="flex items-center p-2 text-black rounded-lg hover:bg-dark-primary group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-user-round"
          >
            <path d="M18 20a6 6 0 0 0-12 0" />
            <circle cx="12" cy="10" r="4" />
            <circle cx="12" cy="12" r="10" />
          </svg>

          <span
            class="flex-1 ms-3 text-base whitespace-nowrap font-primary text-serpentine"
            >Profile</span
          >
        </a>
      </li>
      <!-- event -->
      <li>
        <a
          routerLink="events"
          [routerLinkActive]="'bg-dark-primary'"
          class="flex items-center p-2 text-black rounded-lg hover:bg-dark-primary group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-calendar-days"
          >
            <path d="M8 2v4" />
            <path d="M16 2v4" />
            <rect width="18" height="18" x="3" y="4" rx="2" />
            <path d="M3 10h18" />
            <path d="M8 14h.01" />
            <path d="M12 14h.01" />
            <path d="M16 14h.01" />
            <path d="M8 18h.01" />
            <path d="M12 18h.01" />
            <path d="M16 18h.01" />
          </svg>

          <span
            class="flex-1 ms-3 text-base whitespace-nowrap font-primary text-serpentine"
            >Events</span
          >
        </a>
      </li>

      <!-- attendance -->
      <li>
        <a
          routerLink="attendance"
          [routerLinkActive]="'bg-dark-primary'"
          class="flex items-center p-2 text-black rounded-lg hover:bg-dark-primary group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-image-up"
          >
            <path
              d="M10.3 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10l-3.1-3.1a2 2 0 0 0-2.814.014L6 21"
            />
            <path d="m14 19.5 3-3 3 3" />
            <path d="M17 22v-5.5" />
            <circle cx="9" cy="9" r="2" />
          </svg>

          <span
            class="flex-1 ms-3 text-base whitespace-nowrap font-primary text-serpentine"
            >Attendance</span
          >
        </a>
      </li>

      <!-- feedback -->
      <li>
        <a
          routerLink="feedback"
          [routerLinkActive]="'bg-dark-primary'"
          class="flex items-center p-2 text-black rounded-lg hover:bg-dark-primary group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail-plus"
          >
            <path
              d="M22 13V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h8"
            />
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
            <path d="M19 16v6" />
            <path d="M16 19h6" />
          </svg>

          <span
            class="flex-1 ms-3 text-base whitespace-nowrap font-primary text-serpentine"
            >Feedback</span
          >
        </a>
      </li>
    </ul>
  </div>
</aside>
