<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div class="flex flex-col">
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        Dashboard
      </p>
      <hr class="h-px mb-5 bg-serpentine border-0 dark:bg-gray-700" />

      <div class="mb-5">
        <app-cards></app-cards>
      </div>

      <div class="my-2">
        <app-comparing-events></app-comparing-events>
      </div>

      <div
        class="flex flex-col md:flex-row gap-5 justify-between items-start w-full"
      >
        <app-attendance
          class="h-full w-full md:w-1/2 self-center"
        ></app-attendance>
        <div class="mx-auto h-full w-full md:w-1/2 self-center">
          <p-carousel
            [value]="slides"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
          >
            <ng-template pTemplate="item" let-slide>
              <div class="card1">
                <ng-container [ngSwitch]="slide">
                  <app-course *ngSwitchCase="'course'"></app-course>
                  <app-year-level *ngSwitchCase="'year-level'"></app-year-level>
                  <app-block *ngSwitchCase="'block'"></app-block>
                </ng-container>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</main>
