<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div class="flex flex-col">
      <div>
        <p class="mt-5 mb-2 text-text text-2xl tracking-wide font-semibold">
          Dashboard
        </p>

        <hr class="h-px mb-6 bg-dark-border border-0" />
      </div>

      <div class="mb-2">
        <app-cards></app-cards>
      </div>

      <app-report></app-report>
    </div>
  </div>
</main>

<!-- 
<div class="h-screen w-full flex justify-center bg-white">
  <div class="flex flex-row gap-2">
    <div
      class="w-4 h-4 rounded-full bg-light-background animate-bounce"
    ></div>
    <div
      class="w-4 h-4 rounded-full bg-light-background animate-bounce [animation-delay:-.3s]"
    ></div>
    <div
      class="w-4 h-4 rounded-full bg-light-background animate-bounce [animation-delay:-.5s]"
    ></div>
  </div>
</div> -->
