<main class="w-full h-screen">
  <div class="p-4 mt-16">
    <div>
      <button class="-ms-2" (click)="goBack()">
        <svg
          class="w-7 h-7 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M5 12h14M5 12l4-4m-4 4 4 4"
          />
        </svg>
      </button>

      <p class="mt-5 mb-2 text-text text-2xl font-semibold tracking-wide">
        Attendance Submission
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>
    <div class="relative overflow-x-auto h-screen flex flex-col">
      <div class="flex-grow overflow-auto">
        <div class="max-h-96 h-96 over">
          @if(datalist.length > 0){
          <table
            class="w-full text-sm text-left rtl:text-right rounded-md text-gray-500"
          >
            <thead
              class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground"
            >
              <tr class="">
                <th
                  scope="col"
                  class="px-6 py-3 tracking-widest font-medium text-center"
                >
                  Student Name
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 tracking-widest font-medium text-center"
                >
                  Program
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 tracking-widest font-medium text-center"
                >
                  Block
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 tracking-widest font-medium text-center"
                >
                  Year Level
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 tracking-widest font-medium text-center"
                >
                  Remarks
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 tracking-widest font-medium text-center"
                >
                  Submission
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let data of datalist
                    | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
                "
                class="bg-white border-b"
              >
                <td class="text-center capitalize">
                  {{ data.first_name }} {{ data.last_name }}
                </td>
                <td class="text-center">
                  {{ data.course || "Not set" }}
                </td>
                <td class="text-center">
                  {{ data.block || "Not set" }}
                </td>
                <td class="text-center">
                  {{ data.year_level || "Not set" }}
                </td>
                <td class="px-6 py-4 text-center">
                  <span
                    *ngIf="data.remarks === 0"
                    class="text-red-500 text-center"
                  >
                    Not Approve
                  </span>
                  <span
                    *ngIf="data.remarks === 1"
                    class="text-light-text text-center"
                  >
                    Approve
                  </span>
                </td>

                <td class="px-6 py-4 text-center">
                  <button
                    (click)="viewAttendances(data.user_id)"
                    class="font-medium text-dark-text hover:underline"
                  >
                    View Submissions
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          }@else {
          <section>
            <div class="py-4 px-4 mx-auto x-w-screen-xl lg:py-16 lg:px-6ma">
              <div class="max-w-screen-sm text-center mx-auto">
                <h1 class="text-gray-500 text-6xl block">(￣ ￣|||)</h1>
                <h1 class="text-gray-500 text-6xl block">
                  No Submission Found
                </h1>
                <p class="text-gray-500 text-xl">
                  It looks like there are no submission yet.
                </p>
              </div>
            </div>
          </section>
          }
        </div>
      </div>
      <div
        class="flex justify-center items-end mt-2.5 p-5"
        *ngIf="datalist.length > 0"
      >
        <pagination-controls
          (pageChange)="p = $event"
          [maxSize]="maxSize"
          [responsive]="true"
          class="pagination"
        ></pagination-controls>
      </div>
    </div>
  </div>
</main>
