<main class="w-full">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <button class="-ms-2" (click)="closePage()">
        <svg
          class="w-7 h-7 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M5 12h14M5 12l4-4m-4 4 4 4"
          />
        </svg>
      </button>

      <p class="mt-5 mb-2 text-text text-2xl font-semibold tracking-wide">
        Your Events
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>

    <div class="relative overflow-x-auto border border-dark-border rounded-md">
      <table
        *ngIf="events$ | async as events; else noEventsMessage"
        class="w-full text-sm text-left rtl:text-right text-gray-500 shadow-md sm:rounded-lg"
      >
        <thead
          class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground sticky top-0 z-10"
        >
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Event name
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Event Date
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Status
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let event of events; let i = index"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="text-center px-6 py-4 text-gray-900 whitespace-nowrap"
            >
              {{ event.event_name }}
            </th>
            <td class="text-center px-6 py-4 text-gray-900 whitespace-nowrap">
              {{ event.event_start_date | date }}
            </td>
            <div class="flex justify-center items-center">
              <td class="py-4">
                <span
                  class="flex items-center text-[13.5px] capitalize font-normal text-gray-900 me-3"
                >
                  <span
                    *ngIf="event.eventState === 'upcoming'"
                    class="flex w-2.5 h-2.5 bg-yellow-300 text-[13.5px] capitalize rounded-full me-1.5 flex-shrink-0"
                  ></span>
                  <span
                    *ngIf="event.eventState === 'done'"
                    class="flex w-2.5 h-2.5 bg-green-500 text-[13.5px] capitalize rounded-full me-1.5 flex-shrink-0"
                  ></span>
                  <span
                    *ngIf="event.eventState === 'ongoing'"
                    class="flex w-2.5 h-2.5 bg-blue-500 text-[13.5px] capitalize rounded-full me-1.5 flex-shrink-0"
                  ></span>
                  {{ event.eventState }}
                </span>
              </td>
            </div>
            <td class="px-6 py-4 text-center">
              <button
                (click)="openEvent(event.event_id)"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                See Event
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center items-center mt-2.5 p-5">
      <mat-paginator
        [length]="events$"
        [pageSize]="itemPerPage"
        (page)="p = $event.pageIndex + 1"
      ></mat-paginator>
    </div>
  </div>
  <ng-template #noEventsMessage>
    <section>
      <div class="py-4 px-4 mx-auto x-w-screen-xl lg:py-16 lg:px-6ma">
        <div class="max-w-screen-sm text-center mx-auto">
          <h1 class="text-gray-500 text-6xl block">(￣ ￣|||)</h1>
          <h1 class="text-gray-500 text-6xl block">No Events Registered</h1>
          <p class="text-gray-500 text-xl">
            It looks like you haven't registered for any events yet
          </p>
        </div>
      </div>
    </section>
  </ng-template>
</main>
