* {
  scrollbar-width: thin;
  scrollbar-color: #fafafa #e4e4e7;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #e4e4e7;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 100%;
  border: 1px solid #e4e4e7;
}
