<main class="w-full">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p class="mt-5 mb-2 text-text text-2xl font-semibold tracking-wide">
        Dashboard
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <!-- calendar here -->
      <div
        class="lg:w-full md:col-span-1 border max-h-[608px] border-dark-border shadow-md rounded-md p-5 bg-white"
      >
        <!-- calendar here -->
        <app-mobicalendar></app-mobicalendar>
      </div>

      <div class="grid-col-2 grid-flow-row">
        <div
          class="max-w-full h-[450.65px] max-h-96 bg-white border border-dark-border rounded-md shadow-md p-4"
        >
          <div class="flex items-center justify-between mb-4">
            <div class="flex items-center">
              <span
                class="text-lg me-1 font-medium leading-none text-dark-text"
              >
                Registered Events
              </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="rgb(113 113 122)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-calendar-check-2"
              >
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <path
                  d="M21 14V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8"
                />
                <path d="M3 10h18" />
                <path d="m16 20 2 2 4-4" />
              </svg>
            </div>

            <button
              (click)="onClickButton()"
              class="text-sm font-medium text-dark-text hover:text-light-background hover:underline"
            >
              View your events
            </button>
          </div>
          <div
            *ngIf="events$ | async as events; else loading"
            class="relative overflow-x-auto rounded-md overflow border max-h-72 border-dark-border"
          >
            <div *ngIf="events.length > 0; else error">
              <table
                class="w-full text-sm text-left rtl:text-right text-gray-500"
              >
                <!-- header -->
                <thead
                  class="text-sm capitalize bg-dark-foreground border-b border-dark-border sticky top-0 z-10"
                >
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 tracking-widest font-medium text-dark-muted"
                    >
                      Event Name
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 tracking-widest font-medium text-dark-muted"
                    >
                      Date
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 tracking-widest font-medium text-dark-muted"
                    >
                      Status
                    </th>
                  </tr>
                </thead>
                <!-- body -->
                <tbody>
                  <tr
                    *ngFor="let event of events; let i = index"
                    (click)="goToPreview(event.event_id)"
                    class="bg-white border-b border-dark-border cursor-pointer"
                  >
                    <td
                      scope="row"
                      class="px-6 py-4 font-medium text-[13.5px] text-gray-900 whitespace-nowrap"
                    >
                      {{ event.event_name }}
                    </td>
                    <td class="px-6 py-4 text-[13.5px]">
                      {{ event.event_start_date | date }}
                    </td>
                    <div class="flex items-center">
                      <td class="py-4">
                        <span
                          class="flex items-center text-[13.5px] capitalize font-normal text-gray-900 me-3"
                        >
                          <span
                            *ngIf="event.eventState === 'upcoming'"
                            class="flex w-2.5 h-2.5 bg-yellow-300 text-[13.5px] capitalize rounded-full me-1.5 flex-shrink-0"
                          ></span>
                          <span
                            *ngIf="event.eventState === 'done'"
                            class="flex w-2.5 h-2.5 bg-light-foregroud text-[13.5px] capitalize rounded-full me-1.5 flex-shrink-0"
                          ></span>
                          <span
                            *ngIf="event.eventState === 'ongoing'"
                            class="flex w-2.5 h-2.5 bg-blue-500 text-[13.5px] capitalize rounded-full me-1.5 flex-shrink-0"
                          ></span>
                          {{ event.eventState }}
                        </span>
                      </td>
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div
          class="relative overflow-x-auto mt-2 shadow-md border border-dark-border rounded-md"
        >
          <div class="w-full bg-white shadow-md rounded-sm">
            <div
              class="w-full text-sm rounded-lg text-left rtl:text-right text-gray-500"
            >
              <table
                class="w-full text-sm text-left rtl:text-right rounded-b-lg text-gray-500"
              >
                <thead
                  class="text-sm capitalize bg-dark-foreground border-b border-dark-border"
                >
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 tracking-widest font-medium text-dark-muted"
                    >
                      Status
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 tracking-widest font-medium text-dark-muted"
                    >
                      Event Description
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-white border-b">
                    <td class="p-2">
                      <span
                        class="flex items-center text-sm font-medium text-gray-900 me-3"
                        ><span
                          class="flex items-center w-2.5 h-2.5 bg-blue-600 rounded-full me-1.5 flex-shrink-0"
                        >
                        </span
                        >Ongoing
                      </span>
                    </td>
                    <td class="p-2">
                      Event status blue, the blue dot means that the event is
                      currently being held and will end soon
                    </td>
                  </tr>
                  <tr class="bg-white border-b">
                    <td class="p-2">
                      <span
                        class="flex items-center font-medium text-sm text-gray-900 me-3"
                        ><span
                          class="flex items-center w-2.5 h-2.5 bg-light-foregroud rounded-full me-1.5 flex-shrink-0"
                        >
                        </span
                        >Done
                      </span>
                    </td>
                    <td class="p-2">
                      Event status green, the green dot means that the event is
                      currently over
                    </td>
                  </tr>
                  <tr>
                    <td class="p-2">
                      <span
                        class="flex items-center text-sm font-medium text-gray-900 me-3"
                        ><span
                          class="flex items-center w-2.5 h-2.5 bg-yellow-300 rounded-full me-1.5 flex-shrink-0"
                        >
                        </span
                        >Upcoming
                      </span>
                    </td>
                    <td class="p-2">
                      Event status yellow, the yellow dot means that the event
                      has not yet been held or will be held soon
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <ng-template #loading>
          <p>Loading events...</p>
        </ng-template>
      </div>
    </div>
  </div>
</main>

<ng-template #error>
  <section>
    <div class="py-4 px-4 mx-auto max-w-screen-xl h-full lg:py-16 lg:px-6">
      <div class="max-w-screen-sm text-center mx-auto">
        <h1 class="text-gray-500 text-xl block">(￣ ￣|||)</h1>
        <h1 class="text-gray-500 text-xl block">No Events Registered</h1>
        <p class="text-gray-500 text-xl">
          It looks like you haven't registered for any events yet
        </p>
      </div>
    </div>
  </section>
</ng-template>
