<main class="w-full">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p class="mb-2 text-black text-2xl tracking-wide font-bold">Dashboard</p>
      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <div
        class="lg:w-full md:col-span-1 border border-gray-200 shadow-md rounded-md p-10 bg-gray-50"
      >
        <!-- calendar here -->
        <app-calendar class="sm:max-w-[400px]"></app-calendar>
      </div>

      <div class="grid-col-2 grid-flow-row">
        <div
          class="max-w-full max-h-96 bg-white border border-dark-border rounded-md shadow-md p-4"
        >
          <div class="flex items-center justify-between mb-4">
            <div class="flex items-center">
              <span class="text-xl me-1 font-bold leading-none text-dark-text">
                Registered Events
              </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-calendar-check-2"
              >
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <path
                  d="M21 14V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8"
                />
                <path d="M3 10h18" />
                <path d="m16 20 2 2 4-4" />
              </svg>
            </div>

            <button
              (click)="onClickButton()"
              class="text-sm font-medium text-dark-text hover:underline"
            >
              View all
            </button>
          </div>

          <div
            *ngIf="events && events.length > 0; else noEventsMessage"
            class="relative overflow-x-auto rounded-md overflow-y-auto border max-h-72 border-gray-200"
          >
            <table
              class="w-full text-sm text-left rtl:text-right text-gray-500"
            >
              <!-- header -->
              <thead
                class="text-xs text-gray-700 uppercase bg-dark-primary border-b border-dark-border sticky top-0 z-10"
              >
                <tr>
                  <th scope="col" class="px-6 py-3">Event Name</th>
                  <th scope="col" class="px-6 py-3">Date</th>
                  <th scope="col" class="px-6 py-3">Status</th>
                </tr>
              </thead>
              <!-- body -->
              <tbody>
                <tr
                  *ngFor="let event of events; let i = index"
                  class="bg-white border-b border-dark-border"
                >
                  <td
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                  >
                    {{ event.event_name }}
                  </td>
                  <td class="px-6 py-4">{{ event.event_start_date | date }}</td>
                  <div class="flex items-center">
                    <td class="py-4">
                      <span
                        class="flex items-center text-sm font-normal text-gray-900 me-3"
                      >
                        <span
                          *ngIf="event.eventState === 'upcoming'"
                          class="flex w-2.5 h-2.5 bg-yellow-300 rounded-full me-1.5 flex-shrink-0"
                        ></span>
                        <span
                          *ngIf="event.eventState === 'done'"
                          class="flex w-2.5 h-2.5 bg-qgreen-500 rounded-full me-1.5 flex-shrink-0"
                        ></span>
                        <span
                          *ngIf="event.eventState === 'ongoing'"
                          class="flex w-2.5 h-2.5 bg-blue-500 rounded-full me-1.5 flex-shrink-0"
                        ></span>
                        {{ event.eventState | uppercase }}
                      </span>
                    </td>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div
          class="relative overflow-x-auto mt-2 shadow-md border border-dark-border rounded-md"
        >
          <div class="w-full bg-white shadow-md rounded-sm">
            <div
              class="w-full text-sm rounded-lg text-left rtl:text-right text-gray-500"
            >
              <table
                class="w-full text-sm text-left rtl:text-right rounded-b-lg text-gray-500"
              >
                <thead
                  class="text-xs text-black uppercase bg-dark-primary border-b border-dark-border"
                >
                  <tr>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3">Event Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-white border-b">
                    <td class="p-2">
                      <span
                        class="flex items-center text-sm font-medium text-gray-900 me-3"
                        ><span
                          class="flex items-center w-2.5 h-2.5 bg-blue-600 rounded-full me-1.5 flex-shrink-0"
                        >
                        </span
                        >Ongoing
                      </span>
                    </td>
                    <td class="p-2">
                      Event status blue, the blue dot means that the event is
                      currently being held and will end soon
                    </td>
                  </tr>
                  <tr class="bg-white border-b">
                    <td class="p-2">
                      <span
                        class="flex items-center font-medium text-sm text-gray-900 me-3"
                        ><span
                          class="flex items-center w-2.5 h-2.5 bg-green-500 rounded-full me-1.5 flex-shrink-0"
                        >
                        </span
                        >Done
                      </span>
                    </td>
                    <td class="p-2">
                      Event status green, the green dot means that the event is
                      currently over
                    </td>
                  </tr>
                  <tr>
                    <td class="p-2">
                      <span
                        class="flex items-center text-sm font-medium text-gray-900 me-3"
                        ><span
                          class="flex items-center w-2.5 h-2.5 bg-yellow-300 rounded-full me-1.5 flex-shrink-0"
                        >
                        </span
                        >Upcoming
                      </span>
                    </td>
                    <td class="p-2">
                      Event status yellow, the yellow dot means that the event
                      has not yet been held or will be held soon
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <ng-template #noEventsMessage>
          <div class="text-center py-8">
            <svg
              class="emoji-404 mx-auto h-20"
              enable-background="new 0 0 226 249.135"
              id="Layer_1"
              overflow="visible"
              version="1.1"
              viewBox="0 0 226 249.135"
              width="226"
              xml:space="preserve"
            >
              <circle cx="113" cy="113" fill="#FFE585" r="109" />
              <line
                enable-background="new    "
                fill="none"
                opacity="0.29"
                stroke="#6E6E96"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="8"
                x1="88.866"
                x2="136.866"
                y1="245.135"
                y2="245.135"
              />
              <line
                enable-background="new    "
                fill="none"
                opacity="0.17"
                stroke="#6E6E96"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="8"
                x1="154.732"
                x2="168.732"
                y1="245.135"
                y2="245.135"
              />
              <line
                enable-background="new    "
                fill="none"
                opacity="0.17"
                stroke="#6E6E96"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="8"
                x1="69.732"
                x2="58.732"
                y1="245.135"
                y2="245.135"
              />
              <circle cx="68.732" cy="93" fill="#6E6E96" r="9" />
              <path
                d="M115.568,5.947c-1.026,0-2.049,0.017-3.069,0.045  c54.425,1.551,98.069,46.155,98.069,100.955c0,55.781-45.219,101-101,101c-55.781,0-101-45.219-101-101  c0-8.786,1.124-17.309,3.232-25.436c-3.393,10.536-5.232,21.771-5.232,33.436c0,60.199,48.801,109,109,109s109-48.801,109-109  S175.768,5.947,115.568,5.947z"
                enable-background="new    "
                fill="#FF9900"
                opacity="0.24"
              />
              <circle cx="156.398" cy="93" fill="#6E6E96" r="9" />
              <ellipse
                cx="67.732"
                cy="140.894"
                enable-background="new    "
                fill="#FF0000"
                opacity="0.18"
                rx="17.372"
                ry="8.106"
              />
              <ellipse
                cx="154.88"
                cy="140.894"
                enable-background="new    "
                fill="#FF0000"
                opacity="0.18"
                rx="17.371"
                ry="8.106"
              />
              <path
                d="M13,118.5C13,61.338,59.338,15,116.5,15c55.922,0,101.477,44.353,103.427,99.797  c0.044-1.261,0.073-2.525,0.073-3.797C220,50.802,171.199,2,111,2S2,50.802,2,111c0,50.111,33.818,92.318,79.876,105.06  C41.743,201.814,13,163.518,13,118.5z"
                fill="#FFEFB5"
              />
              <circle
                cx="113"
                cy="113"
                fill="none"
                r="109"
                stroke="#6E6E96"
                stroke-width="8"
              />
            </svg>
            <h2 class="text-2xl text-gray-500">No Events Registered</h2>
            <p class="text-gray-500">
              It looks like you haven't registered for any events yet.
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</main>
