<main class="!scroll-smooth w-full h-screen bg-white`">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p
        class="font-secondary mb-2 text-custom_black text-2xl tracking-wide font-bold"
      >
        Dashboard
      </p>
      <hr class="h-px mb-6 bg-gray-200 border-0 dark:bg-gray-700" />
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <div
        class="lg:w-full md:col-span-1 border border-gray-200 shadow-lg rounded-md p-10 bg-gray-50"
      >
        <!-- calendar here -->
        <app-calendar class="sm:max-w-[400px]"></app-calendar>
      </div>

      <div class="grid-col-2 grid-flow-row">
        <div
          class="max-w-full h-auto p-4 bg-gray-50 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="flex items-center justify-between mb-4">
            <div class="flex items-center">
              <span
                class="text-xl me-1 font-bold leading-none text-gray-900 dark:text-white"
              >
                Registered Events
              </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
                />
              </svg>
            </div>

            <button
              (click)="onClickButton()"
              class="text-sm font-medium text-carribean_green-mint hover:underline"
            >
              View all
            </button>
          </div>
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table
              class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
            >
              <!-- header -->
              <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
              >
                <tr>
                  <th scope="col" class="px-6 py-3">Event Name</th>
                  <th scope="col" class="px-6 py-3">Date</th>
                  <th scope="col" class="px-6 py-3">Status</th>
                </tr>
              </thead>
              <!-- body -->
              <tbody>
                <tr
                  *ngFor="let event of events"
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                >
                  <td
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                  >
                    {{ event.event_name }}
                  </td>
                  <td class="px-6 py-4">{{ event.event_start_date }}</td>
                  <div class="flex items-center">
                    <td class="py-4">
                      <span
                        class="flex items-center text-sm font-normal text-gray-900 dark:text-white me-3"
                        ><span
                          class="flex w-2.5 h-2.5 bg-blue-600 rounded-full me-1.5 flex-shrink-0"
                        ></span
                        >{{ event.status_id | uppercase }}</span
                      >
                    </td>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
