<main class="!scroll-smooth w-full dark:bg-black">
  <div class="p-4 mt-16 sm:ml-64 relative">
    <aside
      class="fixed -mt-4 z-40 w-60 border-r border-t border-dark-border h-full transition-transform -translate-x-full sm:translate-x-0"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-white dark:bg-gray-800">
        <h5
          class="text-base font-semibold mb-2 text-gray-500 uppercase dark:text-gray-400"
        >
          Organizers List
        </h5>
        <ul class="space-y-2 font-medium">
          <li *ngFor="let organizer of organizers">
            <p
              (click)="selectOrganizer(organizer)"
              class="flex relative items-center hover:bg-gray-200 p-2 text-gray-900 text-sm rounded-lg dark:hover:bg-gray-700 group cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-user"
              >
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                <circle cx="12" cy="7" r="4" />
              </svg>
              <span class="ms-3 capitalize"
                >{{ organizer.fname }} {{ organizer.lname }}</span
              >
            </p>
          </li>
        </ul>
      </div>
    </aside>
    <div class="py-4 sm:ml-64">
      <div class="relative">
        <button
          (click)="toggleDropdown()"
          class="dropdown-button inline-flex z-30 items-center text-white bg-light-background border focus:outline-none hover:bg-light-foregroud focus:ring-0 font-medium rounded-lg text-sm px-3 py-1.5"
          type="button"
        >
          <span class="sr-only"> Event</span>
          {{ selectedOrganizer?.fname }} {{ selectedOrganizer?.lname }}'s
          <svg
            class="w-2.5 h-2.5 ms-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>

        <div *ngIf="showDropdown" class="dropdown-menu">
          <ul
            class="absolute left-0 max-w-[160px] w-full top-[33px] bg-white border border-dark-border rounded-md divide-y divide-gray-300"
          >
            <li
              *ngFor="let event of pastEvents"
              (click)="selectEvent(event.id)"
              class="block px-4 py-2 text-sm font-medium capitalize hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
            >
              {{ event.name }}
            </li>
          </ul>
        </div>

        <ng-container *ngIf="selectedPastEventReport">
          <div
            class="w-full flex items-center gap-1.5 mt-5 p-3 border border-dark-border rounded-md shadow-md"
          >
            <div class="w-1/2">
              <div
                class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
              >
                <h5
                  class="mb-3 text-sm font-semibold text-gray-900 md:text-xl dark:text-white"
                >
                  Details
                </h5>
                <ul class="my-2">
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap">Name</span>
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded capitalize"
                      >
                        {{ selectedPastEventReport.event_name }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap">Status</span>
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded capitalize"
                      >
                        {{ selectedPastEventReport.event_status }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap">Date</span>
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{
                          selectedPastEventReport.event_start_date
                            | date : "longDate"
                        }}
                        -
                        {{
                          selectedPastEventReport.event_end_date
                            | date : "longDate"
                        }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap">Time</span>
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{
                          selectedPastEventReport.event_start_date
                            | date : "shortTime"
                        }}
                        -
                        {{
                          selectedPastEventReport.event_end_date
                            | date : "shortTime"
                        }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap"
                        >Max Participants</span
                      >
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{ selectedPastEventReport.max_attendees }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap"
                        >Registered Participants</span
                      >
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{ selectedPastEventReport.registered_users }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap"
                        >Present Participants</span
                      >
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{ selectedPastEventReport.present_count }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap"
                        >Attendance Submitted</span
                      >
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{ selectedPastEventReport.attendance_count }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap"
                        >Feedback Submitted</span
                      >
                      <span
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{ selectedPastEventReport.feedback_count }}
                      </span>
                    </div>
                  </li>
                  <li>
                    <div
                      class="flex items-center p-1.5 text-sm font-bold text-gray-900"
                    >
                      <span class="flex-1 ms-3 whitespace-nowrap"
                        >Satisfaction Rating</span
                      >
                      <span
                        *ngIf="selectedPastEventReport.average_feedback !== 0"
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        {{
                          selectedPastEventReport.average_feedback
                            | number : "1.1"
                        }}
                      </span>
                      <span
                        *ngIf="
                          selectedPastEventReport.average_feedback === null
                        "
                        class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded"
                      >
                        0
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="w-1/2">
              <div class="flex flex-col items-center gap-1.5">
                <div>
                  <p-chart
                    *ngIf="
                      selectedPastEventReport.registered_users > 0 ||
                      selectedPastEventReport.present_count > 0 ||
                      selectedPastEventReport.feedback_count > 0
                    "
                    type="doughnut"
                    style="width: 500px; height: 500px"
                    [data]="getReportChart(selectedPastEventReport)"
                    [options]="chartOptions"
                  >
                  </p-chart>
                  <div
                    *ngIf="
                      selectedPastEventReport.registered_users === 0 &&
                      selectedPastEventReport.present_count === 0 &&
                      selectedPastEventReport.feedback_count === 0
                    "
                    class="text-center"
                  >
                    <p>(￣ ￣|||)</p>
                    <span class="text-gray-500">No data available...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="w-full flex max-sm:flex-col gap-3 my-3">
        <div class="w-[60%] border border-dark-border shadow-md p-4 rounded-md">
          <h5
            class="text-base font-semibold mb-2 text-gray-500 uppercase dark:text-gray-400"
          >
            Students List
          </h5>
          <ul role="list" class="divide-y divide-gray-100 px-3">
            <li
              class="flex justify-between gap-x-6 py-5"
              *ngFor="let student of selectedPastEventReport.student_details"
            >
              <div class="flex min-w-0 gap-x-4">
                <div
                  class="h-12 w-12 flex-none flex justify-center items-center rounded-full bg-gray-300"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-circle-user"
                  >
                    <circle cx="12" cy="12" r="10" />
                    <circle cx="12" cy="10" r="3" />
                    <path
                      d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"
                    />
                  </svg>
                </div>
                <div class="min-w-0 flex-auto">
                  <p
                    class="text-sm font-semibold leading-6 capitalize text-gray-900"
                  >
                    {{ student.first_name }}
                    {{ student.last_name }}
                  </p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">
                    {{ student.email }}
                  </p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">
                    {{ student.course }} {{ student.year_level }} |
                    {{ student.block }}
                  </p>
                </div>
              </div>
              <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-gray-900">
                  @if(student.attendance_status === 'present'){
                  <span class="text-green-600 capitalize">{{
                    student.attendance_status
                  }}</span>

                  }@else {
                  <span class="text-red-600 capitalize">{{
                    student.attendance_status
                  }}</span>
                  }
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-[40%]">
          <div
            class="w-full flex flex-col justify-center items-center p-5 border border-dark-border rounded-md shadow-md"
          >
            <div *ngIf="selectedPastEventReport">
              <p-chart
                type="pie"
                [data]="getReportAttendance(selectedPastEventReport)"
                [options]="chartOptions"
                width="250px"
              ></p-chart>
            </div>
            <div *ngIf="selectedPastEventReport">
              <p-chart
                type="pie"
                [data]="getReportFeedback(selectedPastEventReport)"
                [options]="chartOptions"
                width="250px"
              ></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
