<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 sm:ml-64">
    <div class="p-4 rounded-lg h-full">
      <div class="flex w-full justify-center items-center h-screen">
        <div class="">
          <img
            class="relative z-10 max-w-full"
            src="../../../../../assets/images/man.png"
            alt=""
          />
        </div>
        <div>
          <form action="#" class="space-y-2">
            <label for="feedback"> Care to give us a feedback? </label>
            <textarea
              name="feedback"
              id="feedback?"
              cols="60"
              rows="10"
              placeholder="Type here..."
              class="p-2 border border-black rounded-md block mb-2 overflow-auto text-balance outline-none"
            ></textarea>
            <div class="flex w-full justify-center">
              <button
                type="submit"
                class="text-white-gainsboro mx-auto block md:w-[50%] bg-green-500 hover:bg-green-600 focus:outline-none font-medium rounded-xl text-sm sm:w-auto px-5 py-2.5 text-center"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
