<div class="bg-gray-100 flex w-full h-screen items-center justify-center">
  <div class="flex flex-col justify-center items-center mt-24 m-auto">
    <div class="flex justify-center items-center flex-col relative top-24">
      <div class="tracking-widest mt-4 text-center">
        <p class="text-center text-xl">(´・ω・｀)</p>
        <span class="text-gray-500 text-xl">You must be lost...</span>
        <p class="text-gray-500 text-lg max-w-sm mt-2.5">
          Let's be honest though -- 99% of the time, the 404 page is the fault
          of the person who made the website. I probably broke a link somewhere
          when working on a page.
        </p>
      </div>
      <div class="mt-6">
        <button
          (click)="goBack()"
          class="text-gray-500 font-mono text-xl bg-gray-200 p-3 rounded-md hover:shadow-md"
        >
          Go back
        </button>
      </div>
    </div>
  </div>
</div>
