<section class="w-full h-screen">
  <div
    class="flex max-md:flex-col-reverse flex-row justify-center items-center h-screen w-full px-52 relative z-20 max-sm:p-1"
  >
    <!-- form -->
    <div class="w-1/2">
      <h1
        class="max-sm:flex max-sm:justify-center text-text md:text-center font-primary font-bold mb-5 text-2xl text-nowrap"
      >
        Welcome <span class="text-text">GCians!</span>
      </h1>
      <form
        [formGroup]="loginForm"
        (submit)="loginStudent()"
        class="max-w-sm mx-auto sm:w-full"
      >
        <h2 class="font-primary text-dark-text text-wrap text-center my-3.5">
          Enter your email and password to login to your account
        </h2>
        <!-- email -->
        <div class="mb-5">
          <input
            formControlName="email"
            type="email"
            name="email"
            id="email"
            class="border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            placeholder="Domain Email"
            required
          />
        </div>

        <!-- password -->
        <div class="mb-5 relative">
          <input
            formControlName="password"
            type="password"
            name="password"
            [type]="passwordFieldType"
            id="password"
            class="border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
            required
            placeholder="Password"
          />
          <button
            type="button"
            class="text-sm text-text hover:text-light-background focus:outline-none absolute top-0.5 bottom-0.5 right-3.5"
            (click)="togglePasswordVisibility()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-eye"
            >
              <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
              <circle cx="12" cy="12" r="3" />
              {{ passwordFieldType === "password" ? "Show" : "Hide" }}
            </svg>
          </button>
        </div>

        <div class="flex w-full justify-center">
          <button
            type="submit"
            class="text-light-text font-semibold mx-auto block md:w-[50%] bg-[#FEFEFE] border border-light-border hover:bg-light-background hover:text-white focus:outline-none rounded-md text-sm sm:w-auto px-5 py-2.5 text-center"
          >
            Login
          </button>
        </div>

        <div class="my-5">
          <p class="text-center text-sm py-0 font-primary">
            Don't have an account?
            <a
              class="text-dark-text font-semibold hover:text-light-text hover:underline"
              routerLink="/signup"
              >Signup here</a
            >
          </p>
        </div>
      </form>
    </div>

    <div class="sm:mx-auto">
      <div class="relative bottom-14 max-sm:bottom-2">
        <img
          src="../../../../assets/images/attendease_logo.png"
          class="w-72 h-72"
          alt=""
        />
        <h1 class="text-center text-4xl -mt-20 font-bold text-text">
          AttendEase
        </h1>
      </div>
    </div>
  </div>
</section>
