<section class="w-full h-screen bg-white">
  <div
    class="flex max-md:flex-col-reverse flex-row justify-center items-center h-screen w-full px-52 relative z-20 max-sm:p-1"
  >
    <!-- form -->
    <div class="w-1/2">
      <h1
        class="max-sm:flex max-sm:justify-center text-black md:text-center font-primary font-bold mb-5 text-2xl text-nowrap"
      >
        Welcome <span class="text-serpentine">GCians!</span>
      </h1>
      <form
        [formGroup]="loginForm"
        (submit)="loginStudent()"
        class="max-w-sm mx-auto sm:w-full"
      >
        <h2 class="font-primary text-dark-text text-wrap text-center my-3.5">
          Enter your email and password to login to your account
        </h2>
        <!-- email -->
        <div class="mb-5">
          <input
            formControlName="email"
            type="email"
            name="email"
            id="email"
            class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-dark-input block w-full p-2.5"
            placeholder="Domain Email"
            required
          />
        </div>

        <!-- password -->
        <div class="mb-5">
          <input
            formControlName="password"
            type="password"
            name="password"
            id="password"
            class="bg-white border-dark-border text-gray-900 shadow-sm text-sm rounded-md focus:ring-0 focus:border-dark-input block w-full p-2.5"
            required
            placeholder="Password"
          />
        </div>

        <div class="flex w-full justify-center">
          <button
            type="submit"
            class="text-white font-semibold mx-auto block md:w-[50%] bg-dark-background hover:bg-dark-foreground focus:outline-none rounded-md text-sm sm:w-auto px-5 py-2.5 text-center shadow-md"
          >
            Login
          </button>
        </div>

        <div class="my-5">
          <p class="text-center text-sm py-0 font-primary">
            Don't have an account?
            <a
              class="text-dark-background font-semibold hover:text-dark-foreground"
              routerLink="/signup"
              >Signup here</a
            >
          </p>
        </div>
      </form>
    </div>

    <div class="sm:mx-auto">
      <div class="relative bottom-14 max-sm:bottom-2">
        <img
          src="../../../../assets/images/attendease_logo.png"
          class="w-72 h-72"
          alt=""
        />
        <h1
          class="text-center text-4xl -mt-20 font-primary font-bold text-black"
        >
          AttendEase
        </h1>
      </div>
    </div>
  </div>
</section>
