<section class="bg-white dark:bg-gray-900 w-full">
  <div class="max-w-full bg-white max-h-[500px] overflow-scroll">
    <div class="p-5">
      <img
        alt="Event Image"
        [src]="imageUrl"
        class="rounded-md max-h-52 h-52 w-full"
      />
      <a>
        <h5
          class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ data.event_name }}
        </h5>
      </a>
      <p class="my-3 ms-2 font-normal text-lg text-gray-700 dark:text-gray-400">
        {{ data.event_description }}
      </p>
      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
          />
        </svg>

        <span class="ms-2 font-primary text-base"
          >Location: {{ data.event_location }}</span
        >
      </div>
      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
          />
        </svg>

        <span class="ms-2 text-base font-primary"
          >Start Date:
          {{ data.event_start_date | date : "MMM d, y, h:mm a" }}
        </span>
        <span class="ms-1"> - </span>
        <span class="ms-2 text-base font-primary"
          >End Date{{ data.event_end_date | date : "MMM d, y, h:mm a" }}</span
        >
      </div>

      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
          />
        </svg>
        <span class="ms-2 text-base font-primary"
          >Registration Date:
          {{ data.event_registration_start | date : "MMM d, y, h:mm a" }}
        </span>
        <span class="ms-1"> - </span>
        <span class="ms-2 text-base font-primary">{{
          data.event_registration_end | date : "MMM d, y, h:mm a"
        }}</span>
      </div>

      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 9H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h6m0-6v6m0-6 5.419-3.87A1 1 0 0 1 18 5.942v12.114a1 1 0 0 1-1.581.814L11 15m7 0a3 3 0 0 0 0-6M6 15h3v5H6v-5Z"
          />
        </svg>
        <span class="ms-2 font-primary text-base"
          >Mode: {{ data.session }}</span
        >
      </div>

      <div class="flex items-center my-2.5">
        <svg
          class="w-6 h-6 inline flex-shrink-0 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
          />
        </svg>

        <span class="ms-2 font-primary text-base"
          >Max Participants: {{ data.max_attendees }}</span
        >
      </div>
    </div>
  </div>
</section>
