.dialog-container {
  width: 50%;
}

@media (min-width: 768px) {
  .dialog-container {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .dialog-container {
    width: 90%;
  }
}

.avatar-placeholder {
  background-image: url("./../../../../assets/images/event_placeholder.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.image-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
