<section class="w-full h-screen bg-white">
  <div
    class="flex max-md:flex-col-reverse flex-row justify-center items-center h-screen w-full gap-5 px-52 relative z-20 max-sm:p-1"
  >
    <!-- form -->
    <div class="w-1/2">
      <h1
        class="max-sm:flex max-sm:justify-center md:text-center font-primary font-bold mb-5 text-2xl text-nowrap text-black"
      >
        Welcome <span class="text-serpentine">GCians!</span>
      </h1>
      <div>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="registerStudent()"
          class="max-w-sm mx-auto sm:w-full"
          autocomplete="off"
        >
          <h2 class="font-primary text-dark-text text-wrap text-center my-3.5">
            Enter your information to create an account
          </h2>
          <!-- first name -->
          <div class="grid md:grid-cols-2 md:gap-6">
            <div class="mb-5">
              <input
                formControlName="first_name"
                type="text"
                name="firstName"
                id="firstName"
                class="bg-white border-dark-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-dark-input block w-full p-2"
                placeholder="First Name"
                required
              />
            </div>

            <!-- last name -->

            <div class="mb-5">
              <input
                formControlName="last_name"
                type="text"
                name="lastName"
                id="lastName"
                class="bg-white border-dark-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-dark-input block w-full p-2"
                placeholder="Last Name"
                required
              />
            </div>
          </div>

          <!-- email -->

          <div class="mb-5">
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              class="bg-white border-dark-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-dark-input block w-full p-2.5"
              placeholder="Domain Email"
              required
            />
          </div>

          <!-- password -->

          <div class="mb-5">
            <input
              formControlName="password"
              type="password"
              name="password"
              id="password"
              class="bg-white border-dark-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-dark-input block w-full p-2.5"
              required
              placeholder="Password"
            />
          </div>

          <div class="flex w-full justify-center">
            <button
              type="submit"
              class="text-white font-semibold mx-auto block md:w-[50%] bg-dark-background hover:bg-dark-foreground focus:outline-none rounded-md text-sm sm:w-auto px-5 py-2.5 text-center"
            >
              Signup
            </button>
          </div>

          <div class="mb-0">
            <p class="text-center text-sm mt-4 py-0 font-primary">
              Already have an account?
              <a
                class="text-dark-background font-semibold hover:text-dark-foreground"
                routerLink="/login"
                >Login Here</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
    <!-- logo -->

    <div class="sm:mx-auto">
      <div class="relative bottom-14 max-sm:bottom-2">
        <img
          src="../../../../assets/images/attendease_logo.png"
          class="w-72 h-72"
          alt=""
        />
        <h1
          class="text-center text-4xl -mt-20 font-primary font-bold text-black"
        >
          Attend<span class="text-serpentine">Ease</span>
        </h1>
      </div>
    </div>
  </div>
</section>
