@defer{
<section class="w-full h-screen">
  <div
    class="flex max-md:flex-col-reverse flex-row justify-center items-center h-screen w-full gap-5 px-52 relative z-20 max-sm:p-1"
  >
    <!-- form -->
    <div class="w-1/2">
      <h1
        class="max-sm:flex max-sm:justify-center md:text-center font-primary font-bold mb-5 text-2xl text-nowrap"
      >
        Welcome <span class="text-darkgreen">Gcians!</span>
      </h1>
      <div>
        <form
          [formGroup]="formBuilder"
          (ngSubmit)="registerStudent()"
          class="max-w-sm mx-auto sm:w-full"
          autocomplete="off"
        >
          <!-- first name -->
          <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
              <input
                formControlName="first_name"
                type="text"
                name="firstName"
                id="firstName"
                class="block px-0 w-full text-sm text-black-rich_black bg-transparent border-0 border-b-2 border-green-400 appearance-non focus:outline-none focus:ring-0 focus:border-green-500 peer rounded-sm"
                placeholder=""
              />
              <label
                for="firstName"
                class="text-nowrap peer-focus:font-medium font-primary absolute text-sm text-black-rich_black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black-midnight_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >First Name</label
              >
            </div>

            <!-- last name -->
            <div class="relative z-0 w-full mb-5 group">
              <input
                formControlName="last_name"
                type="text"
                name="lastName"
                id="lastName"
                class="block px-0 w-full text-sm text-black-rich_black bg-transparent border-0 border-b-2 border-green-400 appearance-non focus:outline-none focus:ring-0 focus:border-green-500 peer rounded-sm"
                placeholder=""
              />
              <label
                for="lastName"
                class="text-nowrap peer-focus:font-medium font-primary absolute text-sm text-black-rich_black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black-midnight_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Last Name</label
              >
            </div>
          </div>

          <!-- block/course -->
          <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
              <input
                formControlName="year_level"
                type="text"
                name="yearLevel"
                id="yearLevel"
                class="block px-0 w-full text-sm text-black-rich_black bg-transparent border-0 border-b-2 border-green-400 appearance-non focus:outline-none focus:ring-0 focus:border-green-500 peer rounded-sm"
                placeholder=""
              />
              <label
                for="yearLevel"
                class="text-nowrap peer-focus:font-medium font-primary absolute text-sm text-black-rich_black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black-midnight_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Year Level</label
              >
            </div>
            <div class="relative z-0 w-full mb-5 group">
              <input
                formControlName="student_block"
                type="text"
                name="block"
                id="block"
                class="block px-0 w-full text-sm text-black-rich_black bg-transparent border-0 border-b-2 border-green-400 appearance-non focus:outline-none focus:ring-0 focus:border-green-500 peer rounded-sm"
                placeholder=""
              />
              <label
                for="block"
                class="text-nowrap peer-focus:font-medium font-primary absolute text-sm text-black-rich_black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black-midnight_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Block</label
              >
            </div>
          </div>
          <div class="relative z-0 w-1/2 mb-5 group">
            <input
              formControlName="course"
              type="text"
              name="course"
              id="course"
              class="block px-0 w-full text-sm text-black-rich_black bg-transparent border-0 border-b-2 border-green-400 appearance-non focus:outline-none focus:ring-0 focus:border-green-500 peer rounded-sm"
              placeholder=""
            />
            <label
              for="course"
              class="text-nowrap peer-focus:font-medium font-primary absolute text-sm text-black-rich_black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black-midnight_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Course</label
            >
          </div>
          <!-- email -->
          <div class="relative z-0 w-full mb-5 group">
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              class="block px-0 w-full text-sm text-black-rich_black bg-transparent border-0 border-b-2 border-green-400 appearance-non focus:outline-none focus:ring-0 focus:border-green-500 peer rounded-sm"
              placeholder=""
            />
            <label
              for="email"
              class="text-nowrap peer-focus:font-medium font-primary absolute text-sm text-black-rich_black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black-midnight_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Student email</label
            >
          </div>

          <!-- password -->
          <div class="relative z-0 w-full mb-5 group">
            <input
              formControlName="pwd"
              type="password"
              name="password"
              id="password"
              class="block py-2.5 px-0 w-full text-sm text-black-rich_black bg-transparent border-0 border-b-2 border-green-400 appearance-non focus:outline-none focus:ring-0 focus:border-green-500 peer rounded-sm"
              placeholder=""
            />
            <label
              for="password"
              class="peer-focus:font-medium font-primary absolute text-sm text-black-rich_black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black-midnight_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Password</label
            >
          </div>

          <div class="flex w-full justify-center">
            <button
              type="submit"
              class="text-white font-semibold mx-auto block md:w-[50%] bg-carribean_green-mint hover:bg-carribean_green-minted focus:outline-none rounded-xl text-sm sm:w-auto px-5 py-2.5 text-center"
            >
              Signup
            </button>
          </div>

          <div class="mb-0">
            <p class="text-center text-sm mt-4 py-0 font-primary">
              Already have an account?
              <a
                class="text-carribean_green-mint font-semibold hover:text-carribean_green-minted focus:text-carribean_green-minted"
                routerLink="/login"
                >Login Here</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
    <!-- logo -->

    <div class="sm:mx-auto">
      <h1 class="text-center text-4xl font-primary font-bold">
        Attend<span class="text-darkgreen">Ease</span>
      </h1>
    </div>
  </div>
</section>
}
