<main class="w-full h-full">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p class="mt-5 mb-2 text-text font-semibold text-2xl tracking-wide">
        Attendance Submission
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>
    <div
      class="relative overflow-x-auto shadow-md rounded-md overflow-y-auto border border-dark-border"
    >
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <!-- header -->
        <thead
          class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground sticky top-0 z-10"
        >
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Event Name
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Date
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Event Status
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Remarks
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Action
            </th>
          </tr>
        </thead>
        <!-- body -->
        <tbody>
          <tr
            *ngFor="
              let event of events
                | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
            "
            class="bg-white border-b"
          >
            <td
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center"
            >
              {{ event.event_name }}
            </td>
            <td class="px-6 py-4 text-center">
              {{ event.event_start_date | date }}
            </td>
            <div class="flex justify-center text-center">
              <td class="py-4 text-center">
                <div
                  class="text-sm font-medium bg-green-100 inline-flex items-center text-green-800 py-1 px-2 rounded-full"
                  *ngIf="event.eventState === 'done'"
                >
                  <span
                    class="flex w-2.5 h-2.5 bg-light-foregroud rounded-full text-center me-1.5 flex-shrink-0"
                  ></span>
                  Done
                </div>
                <div
                  class="text-sm font-medium bg-blue-100 inline-flex items-center text-blue-800 py-1 px-2 rounded-full"
                  *ngIf="event.eventState === 'ongoing'"
                >
                  <span
                    class="flex w-2.5 h-2.5 bg-blue-500 rounded-full text-center me-1.5 flex-shrink-0"
                  ></span>
                  Ongoing
                </div>
                <div
                  class="text-sm font-medium bg-yellow-100 inline-flex items-center text-yellow-800 py-1 px-2 rounded-full"
                  *ngIf="event.eventState === 'upcoming'"
                >
                  <span
                    class="flex w-2.5 h-2.5 bg-yellow-500 rounded-full text-center me-1.5 flex-shrink-0"
                  ></span>
                  Upcoming
                </div>
              </td>
            </div>
            <td class="px-6 py-4 text-center">
              <div
                class="text-sm font-medium bg-green-100 text-green-800 py-1 px-2 rounded-full"
                *ngIf="attendanceRemarks[event.event_id] === 1"
              >
                Approve
              </div>
              <div
                class="text-sm font-medium bg-red-100 text-red-800 py-1 px-2 rounded-full"
                *ngIf="attendanceRemarks[event.event_id] === 0"
              >
                Waiting for approval
              </div>
              <div
                class="text-sm font-medium bg-gray-100 text-gray-800 py-1 px-2 rounded-full"
                *ngIf="attendanceRemarks[event.event_id] === -1"
              >
                No Record
              </div>
            </td>
            <td>
              <button
                (click)="openFile(event.eventState, event)"
                [disabled]="
                  attendanceRemarks[event.event_id] !== 0 &&
                  attendanceRemarks[event.event_id] !== -1
                "
                [ngClass]="{
                  'opacity-50 cursor-not-allowed':
                    (attendanceRemarks[event.event_id] !== 0 &&
                      attendanceRemarks[event.event_id] !== -1) ||
                    event.eventState === 'upcoming' ||
                    event.eventState === 'ongoing'
                }"
                class="block mx-auto px-4 py-2 text-sm text-white font-semibold bg-light-background hover:bg-light-foregroud rounded-md focus:outline-none"
              >
                Upload photo
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="events.length > 0"
      class="flex justify-center items-center mt-auto p-5"
    >
      <pagination-controls
        (pageChange)="p = $event"
        [maxSize]="maxSize"
        [responsive]="true"
        class="pagination"
      ></pagination-controls>
    </div>
  </div>
</main>
