.pagination ::ng-deep .ngx-pagination .current {
  background-color: #09090b;
  border-radius: 100%;
  padding: 2.5px 10px;
  display: inline-flex;
  justify-self: center;
  color: #fff;
}

.pagination ::ng-deep .ngx-pagination li {
  border-radius: 25px;
  margin: 0 2px;
}

.pagination ::ng-deep .ngx-pagination li :hover {
  border-radius: 25px;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}
