<!-- custom-popup.component.html -->
<section
  class="bg-white dark:bg-gray-900 py-3 w-full antialiased border border-dark-border"
>
  <div class="w-full mx-auto px-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
        Write a valid reason why you want to update your profile.
      </h2>
    </div>
    <form class="mb-6" [formGroup]="form" (ngSubmit)="addRequest()">
      <div
        class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-dark-border dark:bg-gray-800 dark:border-gray-700"
      >
        <label for="comment" class="sr-only">Type here...</label>
        <textarea
          id="comment"
          rows="6"
          formControlName="message"
          class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
          placeholder="Type here..."
          required
        ></textarea>
      </div>
      <button
        type="submit"
        class="inline-flex items-center py-2.5 px-4 text-xs font-medium bg-light-background hover:bg-light-foregroud text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
      >
        Request
      </button>
    </form>
  </div>
</section>
