.pagination ::ng-deep .ngx-pagination .current {
  background-color: #09090b;
  border-radius: 100%;
  padding: 2.5px 10px;
  display: inline-flex;
  justify-self: center;
  color: #fff;
}

.pagination ::ng-deep .ngx-pagination li {
  border-radius: 25px;
  margin: 0 2px;
}

.pagination ::ng-deep .ngx-pagination li :hover {
  border-radius: 25px;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #444444 !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #04bc64 !important;
}
