<main class="!scroll-smooth w-full h-screen absolute z-30 bg-white">
  <div class="p-4 mt-16 bg-white">
    <div>
      <button class="-ms-2" (click)="goBack()">
        <svg
          class="w-7 h-7 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M5 12h14M5 12l4-4m-4 4 4 4"
          />
        </svg>
      </button>

      <p class="mt-5 mb-2 text-text text-2xl font-semibold tracking-wide">
        Student Feedbacks
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>
    @if(feedback && feedback.length > 0){
    <div class="w-full mt-5 flex justify-center items-center gap-3.5">
      <app-user-feedback-rate
        [eventId]="eventId!"
        class="w-[40%] h-full flex-grow"
      ></app-user-feedback-rate>
      <div class="w-[60%] h-full flex-grow self-baseline">
        <div
          class="w-full h-full p-4 bg-white border border-dark-border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
          style="display: flex; flex-direction: column"
        >
          <div class="flex items-center justify-between mb-4">
            <h5
              class="text-xl font-bold leading-none text-gray-900 dark:text-white"
            >
              Students
            </h5>
          </div>
          <hr class="h-px mb-2.5 bg-dark-border border-0 dark:bg-gray-700" />
          <div class="flow-root overflow-y-auto flex-grow">
            <ul
              role="list"
              class="divide-y divide-gray-200 h-full dark:divide-gray-700"
            >
              <li class="py-3 sm:py-4" *ngFor="let feed of feedback">
                <div class="flex items-center">
                  <div class="flex-1 flex items-center min-w-0 ms-4">
                    <div>
                      <p
                        class="text-base font-medium capitalize text-gray-900 truncate dark:text-white"
                      >
                        {{ feed.user?.first_name }}
                        {{ feed.user?.last_name }}
                      </p>
                      <p
                        class="text-sm text-gray-500 truncate dark:text-gray-400"
                      >
                        <span
                          class="text-sm"
                          *ngFor="
                            let star of getStars(calculateAverageRating(feed))
                          "
                          [ngClass]="star ? 'text-yellow-300' : 'text-gray-300'"
                        >
                          ★
                        </span>
                        <span class="ml-2">
                          ({{ calculateAverageRating(feed).toFixed(1) }})
                        </span>
                      </p>
                    </div>
                  </div>
                  <div
                    class="inline-flex items-center me-5 text-sm font-semibold text-gray-900 dark:text-white"
                  >
                    <button
                      class="underline text-light-text"
                      (click)="viewUserFeedback(feed.user_id)"
                    >
                      View Evaluation
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    }@else {
    <section #noEvents>
      <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-sm text-center mx-auto">
          <svg
            class="emoji-404 mx-auto"
            enable-background="new 0 0 226 249.135"
            height="249.135"
            id="Layer_1"
            overflow="visible"
            version="1.1"
            viewBox="0 0 226 249.135"
            width="226"
            xml:space="preserve"
          >
            <circle cx="113" cy="113" fill="#FFE585" r="109" />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.29"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="88.866"
              x2="136.866"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="154.732"
              x2="168.732"
              y1="245.135"
              y2="245.135"
            />
            <line
              enable-background="new    "
              fill="none"
              opacity="0.17"
              stroke="#6E6E96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="8"
              x1="69.732"
              x2="58.732"
              y1="245.135"
              y2="245.135"
            />
            <circle cx="68.732" cy="93" fill="#6E6E96" r="9" />
            <path
              d="M115.568,5.947c-1.026,0-2.049,0.017-3.069,0.045  c54.425,1.551,98.069,46.155,98.069,100.955c0,55.781-45.219,101-101,101c-55.781,0-101-45.219-101-101  c0-8.786,1.124-17.309,3.232-25.436c-3.393,10.536-5.232,21.771-5.232,33.436c0,60.199,48.801,109,109,109s109-48.801,109-109  S175.768,5.947,115.568,5.947z"
              enable-background="new    "
              fill="#FF9900"
              opacity="0.24"
            />
            <circle cx="156.398" cy="93" fill="#6E6E96" r="9" />
            <ellipse
              cx="67.732"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.372"
              ry="8.106"
            />
            <ellipse
              cx="154.88"
              cy="140.894"
              enable-background="new    "
              fill="#FF0000"
              opacity="0.18"
              rx="17.371"
              ry="8.106"
            />
            <path
              d="M13,118.5C13,61.338,59.338,15,116.5,15c55.922,0,101.477,44.353,103.427,99.797  c0.044-1.261,0.073-2.525,0.073-3.797C220,50.802,171.199,2,111,2S2,50.802,2,111c0,50.111,33.818,92.318,79.876,105.06  C41.743,201.814,13,163.518,13,118.5z"
              fill="#FFEFB5"
            />
            <circle
              cx="113"
              cy="113"
              fill="none"
              r="109"
              stroke="#6E6E96"
              stroke-width="8"
            />
          </svg>

          <h1 class="text-gray-500 text-6xl block">No Feedback Found</h1>
          <p class="text-gray-500 text-xl">
            It looks like the event hasn't started yet or there are no feedbacks
            submitted yet.
          </p>
        </div>
      </div>
    </section>
    }
  </div>
</main>
