<main class="!scroll-smooth w-full h-screen absolute z-30 bg-white">
  <div class="p-4 mt-16 bg-white">
    <div>
      <button class="-ms-2" (click)="goBack()">
        <svg
          class="w-7 h-7 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M5 12h14M5 12l4-4m-4 4 4 4"
          />
        </svg>
      </button>

      <p class="mt-5 mb-2 text-text text-2xl font-semibold tracking-wide">
        Student Feedbacks
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>
    @if(feedback && feedback.length > 0){
    <div class="w-full mt-5 flex justify-center items-center gap-3.5">
      <app-user-feedback-rate
        [eventId]="eventId!"
        class="w-[40%] h-full flex-grow"
      ></app-user-feedback-rate>
      <div class="w-[60%] h-full flex-grow self-baseline">
        <div
          class="w-full h-full p-4 bg-white border border-dark-border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
          style="display: flex; flex-direction: column"
        >
          <div class="flex items-center justify-between mb-4">
            <h5
              class="text-xl font-bold leading-none text-gray-900 dark:text-white"
            >
              Students
            </h5>
          </div>
          <hr class="h-px mb-2.5 bg-dark-border border-0 dark:bg-gray-700" />
          <div class="flow-root overflow-y-auto flex-grow">
            <ul
              role="list"
              class="divide-y divide-gray-200 h-full dark:divide-gray-700"
            >
              <li class="py-3 sm:py-4" *ngFor="let feed of feedback">
                <div class="flex items-center">
                  <div class="flex-1 flex items-center min-w-0 ms-4">
                    <div>
                      <p
                        class="text-base font-medium capitalize text-gray-900 truncate dark:text-white"
                      >
                        {{ feed.user?.first_name }}
                        {{ feed.user?.last_name }}
                      </p>
                      <p
                        class="text-sm text-gray-500 truncate dark:text-gray-400"
                      >
                        <span
                          class="text-sm"
                          *ngFor="
                            let star of getStars(calculateAverageRating(feed))
                          "
                          [ngClass]="star ? 'text-yellow-300' : 'text-gray-300'"
                        >
                          ★
                        </span>
                        <span class="ml-2">
                          ({{ calculateAverageRating(feed).toFixed(1) }})
                        </span>
                      </p>
                    </div>
                  </div>
                  <div
                    class="inline-flex items-center me-5 text-sm font-semibold text-gray-900 dark:text-white"
                  >
                    <button
                      class="underline text-light-text"
                      (click)="viewUserFeedback(feed.user_id)"
                    >
                      View Evaluation
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    }@else {
    <section #noEvents>
      <div class="py-4 px-4 mx-auto x-w-screen-xl lg:py-16 lg:px-6ma">
        <div class="max-w-screen-sm text-center mx-auto">
          <h1 class="text-gray-500 text-6xl block">(￣ ￣|||)</h1>
          <h1 class="text-gray-500 text-6xl block">No Submission Found</h1>
          <p class="text-gray-500 text-xl">
            It looks like there are no submission yet.
          </p>
        </div>
      </div>
    </section>
    }
  </div>
</main>
