<mat-dialog-content class="w-full">
  <section class="bg-white dark:bg-gray-900 p-3">
    <div class="px-4 mx-auto max-w-2xl">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
        Edit Event
      </h2>
      <form [formGroup]="eventForm" (ngSubmit)="updateEvent()">
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="sm:col-span-2">
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Event Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              formControlName="event_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Type event name"
              required=""
            />
          </div>

          <div class="w-full">
            <label
              for="event_location"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Location</label
            >
            <input
              type="text"
              name="event_location"
              id="event_location"
              formControlName="event_location"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Event Location"
            />
          </div>

          <div class="w-full">
            <label
              for="session"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Session</label
            >
            <select
              id="session"
              name="session"
              formControlName="session"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            >
              <option>Physical</option>
              <option>Online</option>
              <option>Both</option>
            </select>
          </div>

          <div class="w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >No. Participants</label
            >
            <input
              type="number"
              formControlName="max_attendees"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_start_date">Event Start Date</label>
            <input
              type="datetime-local"
              id="event_start_date"
              formControlName="event_start_date"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_end_date">Event End Date</label>
            <input
              type="datetime-local"
              id="event_end_date"
              formControlName="event_end_date"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_registration_start"
              >Event Registration Start Date</label
            >
            <input
              type="datetime-local"
              id="event_registration_start"
              formControlName="event_registration_start"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>

          <div class="w-full col-span-2">
            <label for="event_registration_end"
              >Event Registration End Date</label
            >
            <input
              type="datetime-local"
              id="event_registration_end"
              formControlName="event_registration_end"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>

          <div class="sm:col-span-2 -mt-5">
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Description</label
            >
            <textarea
              id="description"
              formControlName="event_description"
              rows="8"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Your description here"
            ></textarea>
          </div>
        </div>
        <button
          type="submit"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-ivy rounded-md hover:bg-serpentine"
        >
          Save
        </button>
      </form>
    </div>
  </section>
</mat-dialog-content>
