<div class="md-switching-view-cont">
  <mbsc-eventcalendar
    [data]="events"
    [view]="calView"
    [options]="eventSettings"
    [headerTemplate]="customTemplate"
    (onPageLoading)="fetchUserEvents()"
  >
    <ng-template #customTemplate>
      <mbsc-calendar-nav class="cal-header-nav"></mbsc-calendar-nav>
      <mbsc-calendar-prev class="cal-header-prev"></mbsc-calendar-prev>
      <mbsc-calendar-today></mbsc-calendar-today>
      <mbsc-calendar-next class="cal-header-next"></mbsc-calendar-next>

      <div class="mbsc-flex mbsc-flex-1-0 mbsc-justify-content-end">
        <mbsc-segmented-group [(ngModel)]="view" (change)="changeView()">
          <mbsc-segmented
            value="month"
            icon="material-event-note"
          ></mbsc-segmented>
          <mbsc-segmented
            value="week"
            icon="material-date-range"
          ></mbsc-segmented>
          <mbsc-segmented value="day" icon="material-view-day"></mbsc-segmented>
        </mbsc-segmented-group>
      </div>
    </ng-template>
  </mbsc-eventcalendar>
</div>
