<div class="md-switching-view-cont">
  <mbsc-eventcalendar
    [data]="filteredEvents"
    [view]="calView"
    [options]="eventSettings"
    [headerTemplate]="customTemplate"
  >
    <ng-template #customTemplate>
      <mbsc-calendar-nav class="cal-header-nav"></mbsc-calendar-nav>
      <mbsc-calendar-prev class="cal-header-prev"></mbsc-calendar-prev>
      <mbsc-calendar-today></mbsc-calendar-today>
      <mbsc-calendar-next class="cal-header-next"></mbsc-calendar-next>

      <div class="mbsc-flex mbsc-flex-1-0 mbsc-justify-content-end">
        <mbsc-segmented-group [(ngModel)]="view" (change)="changeView()">
          <mbsc-segmented
            value="month"
            icon="material-event-note"
          ></mbsc-segmented>
          <mbsc-segmented
            value="week"
            icon="material-date-range"
          ></mbsc-segmented>
          <mbsc-segmented value="day" icon="material-view-day"></mbsc-segmented>
        </mbsc-segmented-group>
      </div>
    </ng-template>
  </mbsc-eventcalendar>
</div>
<!-- <div
  class="mds-header-filter mt-2 mbsc-flex mbsc-flex-1-0 mbsc-justify-content-center"
>
  <button
    (click)="onStatusChange('all')"
    class="bg-light-background hover:bg-light-foregroud text-white p-0.5 rounded-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-braces"
    >
      <path
        d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
      />
      <path
        d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
      />
    </svg>
    <span>All</span>
  </button>
  <button
    (click)="onStatusChange('done')"
    class="bg-light-background p-0.5 hover:bg-light-foregroud text-white rounded-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-check"
    >
      <path d="M20 6 9 17l-5-5" />
    </svg>
    <span>Done</span>
  </button>
  <button
    (click)="onStatusChange('ongoing')"
    class="bg-light-background p-0.5 hover:bg-light-foregroud text-white rounded-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-loader-circle"
    >
      <path d="M21 12a9 9 0 1 1-6.219-8.56" />
    </svg>
    <span>Ongoing</span>
  </button>
  <button
    (click)="onStatusChange('upcoming')"
    class="bg-light-background p-0.5 hover:bg-light-foregroud text-white rounded-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-calendar-clock"
    >
      <path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5" />
      <path d="M16 2v4" />
      <path d="M8 2v4" />
      <path d="M3 10h5" />
      <path d="M17.5 17.5 16 16.3V14" />
      <circle cx="16" cy="16" r="6" />
    </svg>
    <span>Upcoming</span>
  </button>
</div> -->
