<main class="!scroll-smooth w-full h-screen">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p class="mb-2 text-black text-2xl tracking-wide font-bold">
        Attendees List
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>

    <!-- list of user -->
    <div class="flex w-full justify-end mb-3">
      <form class="max-w-md flex-1" [formGroup]="searchForm">
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-md bg-white"
            placeholder="Search..."
            required
            formControlName="searchValue"
          />
          <button
            type="submit"
            class="text-white absolute end-2.5 bottom-2.5 bg-dark-background hover:bg-dark-foreground focus:ring-0 font-medium rounded-md text-sm px-4 py-2"
          >
            Search
          </button>
        </div>
      </form>
    </div>

    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg border border-gray-300"
    >
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-dark-primary">
          <tr>
            <th scope="col" class="px-6 py-3 font-bold text-base">Name</th>
            <th scope="col" class="px-6 py-3 font-bold text-base">
              Year Level
            </th>
            <th scope="col" class="px-6 py-3 font-bold text-base">Block</th>
            <th scope="col" class="px-6 py-3 font-bold text-base">Course</th>
            <th scope="col" class="px-6 py-3 font-bold text-base">Email</th>
            <th scope="col" class="px-6 py-3 font-bold text-base">Role</th>
            <th scope="col" class="px-6 py-3 font-bold text-base">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b"
            *ngFor="
              let data of datalist
                | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
            "
          >
            @if ( searchForm.get('searchValue')?.value === '' || data.first_name
            ?.toLowerCase() .includes(
            searchForm.get('searchValue')?.value?.toLowerCase() ) || data.course
            ?.toLowerCase() .includes(
            searchForm.get('searchValue')?.value?.toLowerCase() ) ||
            data.year_level ?.toLowerCase() .includes(
            searchForm.get('searchValue')?.value?.toLowerCase() ) || data.block
            ?.toLowerCase()
            .includes(searchForm.get('searchValue')?.value?.toLowerCase()) ) {
            @if (data.role_id ===3 ) {
            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{ data.first_name | titlecase }} {{ data.last_name | titlecase }}
            </th>
            <td class="px-6 py-4">{{ data.year_level }}</td>
            <td class="px-6 py-4">{{ data.block | uppercase }}</td>
            <td class="px-6 py-4">{{ data.course }}</td>
            <td class="px-6 py-4">{{ data.email }}</td>
            @if(data.role_id === 1){
            <td class="px-6 py-4">Admin</td>
            }@else if (data.role_id === 2) {
            <td class="px-6 py-4">Organizer</td>
            }@else {
            <td class="px-6 py-4">Student</td>
            }
            <td class="px-6 py-4">
              <button
                (click)="updateUser(data.user_id)"
                class="block mx-auto px-4 py-2 text-sm text-white font-semibold bg-dark-background hover:bg-dark-foreground border border-gray-200 rounded-md focus:outline-none"
              >
                Update
              </button>
            </td>
            } }
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center items-center mt-2.5 p-5">
      <pagination-controls
        (pageChange)="p = $event"
        [maxSize]="maxSize"
        [responsive]="true"
        class="pagination"
      ></pagination-controls>
    </div>
  </div>
</main>
