<main class="!scroll-smooth w-full h-screen dark:bg-black">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <p class="mt-5 mb-2 text-text text-2xl tracking-wide font-semibold">
        Attendees List
      </p>
      <hr class="h-px mb-5 bg-dark-border border-0" />
    </div>

    <!-- list of user -->
    <div class="flex w-full justify-end mb-3">
      <form class="max-w-md flex-1" [formGroup]="searchForm">
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-dark-border rounded-md bg-white focus:border-light-border focus:ring-0"
            placeholder="Search..."
            required
            formControlName="searchValue"
          />
          <button
            type="submit"
            class="text-white absolute end-2.5 bottom-2.5 bg-light-background hover:bg-light-foregroud focus:ring-0 font-medium rounded-md text-sm px-4 py-2"
          >
            Search
          </button>
        </div>
      </form>
    </div>

    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg border border-dark-border"
    >
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead
          class="text-dark-muted border-b border-dark-primary capitalize bg-dark-foreground sticky top-0 z-10"
        >
          <tr>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Name
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Year Level
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Block
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Course
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Email
            </th>
            <th scope="col" class="px-6 py-3 tracking-widest font-medium">
              Role
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center tracking-widest font-medium"
            >
              Event Registered
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b"
            *ngFor="
              let data of filteredList
                | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
            "
          >
            @if (data.role_id ===3 ) {
            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{ data.first_name | titlecase }} {{ data.last_name | titlecase }}
            </th>
            <td class="px-6 py-4">{{ data.year_level }}</td>
            <td class="px-6 py-4">{{ data.block | uppercase }}</td>
            <td class="px-6 py-4">{{ data.course }}</td>
            <td class="px-6 py-4">{{ data.email }}</td>
            <td class="px-6 py-4" *ngIf="data.role_id === 3">Student</td>
            @if(data.eventCount){
            <td class="px-6 py-4 text-center">{{ data.eventCount }}</td>
            }@else {
            <td class="px-6 py-4 text-center">0</td>
            } }
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center items-center mt-2.5 p-5">
      <pagination-controls
        (pageChange)="p = $event"
        [maxSize]="maxSize"
        [responsive]="true"
        class="pagination"
      ></pagination-controls>
    </div>
  </div>
</main>
