<mat-dialog-content class="bg-slate-100">
  <div>
    <form
      class="max-w-sm mx-auto p-10 sm:w-full"
      autocomplete="off"
      [formGroup]="editForm"
      (ngSubmit)="updateInfo()"
    >
      <div class="mb-5">
        <label
          for="first_name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >First Name</label
        >
        <input
          type="text"
          id="first_name"
          formControlName="first_name"
          name="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          required
        />
      </div>

      <div class="mb-5">
        <label
          for="last_name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Last Name</label
        >
        <input
          type="text"
          id="last_name"
          formControlName="last_name"
          name="last_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          required
        />
      </div>

      <div class="mb-5">
        <label
          for="year_level"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Year Level</label
        >
        <input
          type="text"
          id="year_level"
          formControlName="year_level"
          name="year_level"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          required
        />
      </div>

      <div class="mb-5">
        <label
          for="block"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Block</label
        >
        <input
          type="text"
          id="block"
          formControlName="block"
          name="block"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          required
        />
      </div>

      <div class="mb-5">
        <label
          for="course"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Course</label
        >
        <input
          type="text  "
          id="course"
          formControlName="course"
          name="course"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          required
        />
      </div>

      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email</label
        >
        <input
          type="email"
          formControlName="email"
          name="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          required
        />
      </div>

      <div class="flex w-full justify-center">
        <button
          type="submit"
          class="text-white mx-auto block md:w-[50%] bg-ivy hover:bg-serpentine focus:outline-none font-bold font-secondary rounded-xl text-sm sm:w-auto px-5 py-2.5 text-center"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
