<aside
  class="fixed top-0 right-0 z-40 border-l bg-white border-dark-border w-80 h-screen"
>
  <div class="h-full mt-16 px-3 py-4 overflow-y-auto dark:bg-gray-800">
    <h5 class="text-base font-medium mb-2 text-gray-900 dark:text-white">
      Event Listing
    </h5>

    <ul class="space-y-2 font-medium mb-20">
      <li *ngFor="let event of events">
        <div
          class="block w-full p-3 bg-white border border-gray-200 rounded-md shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h5
            class="mb-2 text-base font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ event.event_name }}
          </h5>
          <div class="flex justify-between">
            <p class="inline-flex font-normal text-xs text-gray-700">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-map-pin"
              >
                <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" />
                <circle cx="12" cy="10" r="3" />
              </svg>
              {{ event.event_location }}
            </p>

            <p class="inline-flex text-xs">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-calendar"
              >
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <rect width="18" height="18" x="3" y="4" rx="2" />
                <path d="M3 10h18" /></svg
              >{{ event.event_start_date | date : "MMM dd" }}
            </p>
          </div>
          <span class="font-normal text-xs text-gray-700">
            Registered Students:
            {{ event.total_registered_users || 0 }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</aside>
