<main class="w-full">
  <div class="p-4 mt-16 sm:ml-64">
    <div>
      <button class="-ms-2" (click)="closePage()">
        <svg
          class="w-7 h-7 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M5 12h14M5 12l4-4m-4 4 4 4"
          />
        </svg>
      </button>

      <p class="mt-5 mb-2 text-text text-2xl font-semibold tracking-wide">
        Student Evaluation
      </p>

      <hr class="h-px mb-6 bg-dark-border border-0" />
    </div>
    <section class="bg-white dark:bg-gray-900 w-full">
      <div class="diaglog-container max-w-full bg-white">
        <form
          class="max-w-full mx-auto px-10 py-5"
          *ngFor="let feedback of feedbackList"
        >
          <!-- 1. How would you rate your overall satisfaction with the
              event? -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >1. How would you rate your overall satisfaction with the
              event?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-border sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.overall_satisfaction === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Excellent
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.overall_satisfaction === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Good
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.overall_satisfaction === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.overall_satisfaction === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Poor
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.overall_satisfaction === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Terrible
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <!-- 2. How would you rate the quality and relevance of the content
              presented? -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >2. How would you rate the quality and relevance of the content
              presented?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.content_quality === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Excellent
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.content_quality === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Good
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.content_quality === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.content_quality === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Poor
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.content_quality === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Terrible
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <!-- 3. How would you rate the effectiveness of the
              speakers/presenters? -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >3. How would you rate the effectiveness of the
              speakers/presenters?</label
            >
            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.speaker_effectiveness === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Excellent
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.speaker_effectiveness === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Good
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.speaker_effectiveness === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.speaker_effectiveness === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Poor
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.speaker_effectiveness === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Terrible
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <!-- 4. How would you rate the venue in terms of accessibility and
              suitability for the event? -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >4. How would you rate the venue in terms of accessibility and
              suitability for the event?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.venue_rating === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Excellent
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.venue_rating === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Good
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.venue_rating === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.venue_rating === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Poor
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.venue_rating === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Terrible
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <!-- 5. How would you rate the organization and logistics of the
              event? -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >5. How would you rate the organization and logistics of the
              event?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.logistics_rating === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Excellent
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.logistics_rating === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Good
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.logistics_rating === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.logistics_rating === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Poor
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.logistics_rating === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Terrible
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <!-- How satisfied are you with the variety of topics presented at the
              conference? -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >6. How satisfied are you with the variety of topics presented at
              the conference?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.satisfied === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.satisfied === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Somewhat satisfied
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.satisfied === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.satisfied === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Somewhat dissatisfied
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.satisfied === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very dissatisfied
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div class="grid grid-cols-2 w-full gap-2.5">
            <!-- Why did you decide to attend this event? -->
            <div class="relative z-0 w-full mb-5 group">
              <label
                for="joined"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >7. Why did you decide to attend this event?</label
              >
              <input
                type="text"
                disabled
                class="bg-white border border-light-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
                [placeholder]="feedback.joined"
              />
            </div>

            <!-- What did you learn from the event? -->
            <div class="relative z-0 w-full mb-5 group">
              <label
                for="learned"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >8. What did you learn from the event?
              </label>
              <input
                type="text"
                disabled
                class="bg-white border border-light-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
                [placeholder]="feedback.learned"
              />
            </div>

            <!-- What topics would you liked to see more of at future events? -->
            <div class="relative z-0 w-full mb-5 group">
              <label
                for="future"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >9. What topics would you liked to see more of at future events?
              </label>
              <input
                type="text"
                disabled
                class="bg-white border border-light-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
                [placeholder]="feedback.future"
              />
            </div>

            <!-- What did you liked most about the event? -->
            <div class="relative z-0 w-full mb-5 group">
              <label
                for="liked"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >10. What did you liked most about the event?
              </label>
              <input
                type="text"
                disabled
                class="bg-white border border-light-border text-gray-900 text-sm rounded-md focus:ring-0 focus:border-light-border block w-full p-2.5"
                [placeholder]="feedback.liked"
              />
            </div>
          </div>

          <!-- Based on your experience at this event, how likely are you to
              attend future events? -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >11. Based on your experience at this event, how likely are you to
              attend future events?</label
            >

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.attend === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Likely
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.attend === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Likely
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.attend === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.attend === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Unlikely
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.attend === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Unlikely
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <!-- How likely are you to recommend our events to a friend/colleague -->
          <div class="relative z-0 w-full mb-5 group">
            <label
              >12. How likely are you to recommend our events to a
              friend/colleague?
            </label>

            <ul
              class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-light-background rounded-md sm:flex"
            >
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.recommend === 5"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Likely
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.recommend === 4"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Likely
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.recommend === 3"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Neutral
                  </label>
                </div>
              </li>
              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.recommend === 2"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Unlikely
                  </label>
                </div>
              </li>

              <li
                class="w-full border-b border-light-background sm:border-b-0 sm:border-r"
              >
                <div class="flex items-center ps-3">
                  <input
                    type="radio"
                    [checked]="feedback.recommend === 1"
                    disabled
                    class="w-4 h-4 text-light-text bg-gray-100 border-light-background focus:ring-0"
                  />
                  <label
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                  >
                    Very Unlikely
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
