/* calendar.component.css */

.calendar-container {
  width: 100%;
  margin: 0 auto;
}

/* Adjust toolbar for smaller screens */
@media (max-width: 768px) {
  ::ng-deep full-calendar > div.fc-toolbar {
    display: block !important;
  }

  .calendar-container ::ng-deep full-calendar > div.fc-toolbar > div.fc-left,
  ::ng-deep full-calendar > div.fc-toolbar > div.fc-center,
  ::ng-deep full-calendar > div.fc-toolbar > div.fc-right {
    float: none !important;
    display: block !important;
    text-align: center;
    margin-bottom: 0px; /* Add spacing between toolbar elements */
  }

  ::ng-deep full-calendar > div.fc-toolbar > div.fc-center > button {
    padding: 2px !important; /* Larger padding for buttons */
    font-size: 14px; /* Adjust font size */
  }

  ::ng-deep full-calendar > div.fc-toolbar > * > :not(:first-child) {
    margin-left: 0;
    margin-top: 5px; /* Add spacing between toolbar elements */
  }

  ::ng-deep
    full-calendar
    > div.fc-toolbar.fc-header-toolbar
    > div.fc-center
    > h2 {
    font-size: 16px !important; /* Adjust font size */
    margin-right: 0 !important;
  }

  ::ng-deep .fc-event-container a {
    width: 8px !important; /* Adjust event width */
    height: 8px !important; /* Adjust event height */
    margin: 2px; /* Add spacing between events */
  }
}
